@import "//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.2.0/css/bootstrap.css";
/* Scott's Dope Mixins v0.3*/
/* A less configurable but more areodynamic transition mixin */
/* Removes margin and padding and list style from lists */
/* Lightens background color on hover */
/* Darkens background color on hover */
/* A re-useable font mixin for whatever fonts you are using, allows for an optional color argument */
/* Cross browser opacity */
/* REMS with a PX Fallback */
/* REQUIRES COMPASS */
/* Faster gradients, if a stop is not specified a -20 of the start
is assigned for you this may be adjustable in the near future */
@import "//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.1.0/css/font-awesome.min.css";
h2 {
  margin-top: 0;
  font-size: 36px;
  font-size: 2.25rem;
  line-height: 26px;
}

.panel-default h4 {
  font-size: 32px;
  font-size: 2rem;
}

p {
  text-align: justify;
  text-justify: inter-ideograph;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.vertical {
  writing-mode: vertical-rl;
  -webkit-writing-mode: vertical-rl;
  width: 101%;
  height: 200px;
  overflow: scroll;
}
.vertical sup {
  writing-mode: horizontal-tb;
  -webkit-writing-mode: horizontal-tb;
}

i.icon {
  text-decoration: none;
  border: 0;
  padding: 0;
}

blockquote :not(:lang(zh)),
html.han-biaodian-pro-cns blockquote :not(:lang(zh)) {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

#container {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}
#container:after {
  content: " ";
  display: block;
  clear: both;
}
@media (min-width: 740px) {
  #container {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  #container:after {
    content: " ";
    display: block;
    clear: both;
  }
}
@media (min-width: 980px) {
  #container {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  #container:after {
    content: " ";
    display: block;
    clear: both;
  }
}
@media (min-width: 1330px) {
  #container {
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
  }
  #container:after {
    content: " ";
    display: block;
    clear: both;
  }
}

header, footer {
  overflow: hidden;
  *zoom: 1;
  clear: both;
  min-height: 24px;
  padding: 12px;
}

aside.left, main, aside.right {
  -moz-transition: all 200ms ease-in-out;
  -o-transition: all 200ms ease-in-out;
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
  padding-top: 12px;
}

aside.left {
  -moz-transform: rotate3d(0, 0, 0, 0);
  -ms-transform: rotate3d(0, 0, 0, 0);
  -webkit-transform: rotate3d(0, 0, 0, 0);
  transform: rotate3d(0, 0, 0, 0);
  width: 100%;
  float: left;
  padding-left: 1.3888888889%;
  padding-right: 1.3888888889%;
  margin-left: -100%;
}
.show-left aside.left {
  margin-left: 0;
}

main {
  -moz-transform: rotate3d(0, 0, 0, 0);
  -ms-transform: rotate3d(0, 0, 0, 0);
  -webkit-transform: rotate3d(0, 0, 0, 0);
  transform: rotate3d(0, 0, 0, 0);
  width: 100%;
  float: left;
  padding-left: 1.3888888889%;
  padding-right: 1.3888888889%;
  margin-right: -100%;
}
.show-right main {
  margin-left: -100%;
}

aside.right {
  -moz-transform: rotate3d(0, 0, 0, 0);
  -ms-transform: rotate3d(0, 0, 0, 0);
  -webkit-transform: rotate3d(0, 0, 0, 0);
  transform: rotate3d(0, 0, 0, 0);
  width: 100%;
  float: right;
  padding-left: 1.3888888889%;
  padding-right: 1.3888888889%;
  margin-right: -100%;
}
.show-right aside.right {
  margin-right: 0;
}

@media (min-width: 740px) {
  [href="#left"] {
    visibility: hidden;
  }

  aside.left {
    width: 37.5%;
    float: left;
    padding-left: 1.25%;
    padding-right: 1.25%;
    margin-left: 0;
  }
  .show-right aside.left {
    margin-left: -37.5%;
  }

  main {
    width: 62.5%;
    float: left;
    padding-left: 1.25%;
    padding-right: 1.25%;
  }
  .show-right main {
    margin-left: 0;
    width: 62.5%;
    float: left;
    padding-left: 1.25%;
    padding-right: 1.25%;
  }
}
@media only screen and (min-width: 740px) and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
  .show-right main {
    width: 37.5%;
    float: left;
    padding-left: 1.25%;
    padding-right: 1.25%;
  }
}

@media (min-width: 740px) {
  aside.right {
    width: 37.5%;
    float: right;
    padding-left: 1.25%;
    padding-right: 1.25%;
  }
  .show-right aside.right {
    margin-right: 0;
  }
}
@media only screen and (min-width: 740px) and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
  .show-right aside.right {
    width: 37.5%;
    float: right;
    padding-left: 1.25%;
    padding-right: 1.25%;
  }
}

@media (min-width: 980px) {
  [href="#right"] {
    visibility: hidden;
  }

  aside.left {
    width: 25%;
    float: left;
    padding-left: 0.8333333333%;
    padding-right: 0.8333333333%;
  }
  .show-right aside.left {
    margin-left: 0;
  }

  main {
    width: 50%;
    float: left;
    padding-left: 0.8333333333%;
    padding-right: 0.8333333333%;
  }
  .show-right main {
    margin-left: 0;
    width: 50%;
    float: left;
    padding-left: 0.8333333333%;
    padding-right: 0.8333333333%;
  }

  aside.right {
    margin-right: 0;
    width: 25%;
    float: right;
    padding-left: 0.8333333333%;
    padding-right: 0.8333333333%;
  }
}
ul {
  padding-left: 0 !important;
}

ul.nav > li > a {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.more {
  text-align: right;
}

.tab-content {
  padding: 12px;
}

.tab-content img, .panel-body img {
  float: right;
  padding: 0 0 0 15px;
}

.panel-title > a {
  display: block;
  padding: 10px 15px;
  margin: -10px -15px;
}

#imgroll-box img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#back-nav {
  text-align: center;
  padding: 12px;
}

@-moz-document url-prefix() {
  fieldset {
    display: table-cell;
  }
}
/* custom inclusion of right, left and below tabs */
.tabs-below > .nav-tabs,
.tabs-right > .nav-tabs,
.tabs-left > .nav-tabs {
  border-bottom: 0;
}

.tab-content > .tab-pane,
.pill-content > .pill-pane {
  display: none;
}

.tab-content > .active,
.pill-content > .active {
  display: block;
}

.tabs-below > .nav-tabs {
  border-top: 1px solid #ddd;
}

.tabs-below > .nav-tabs > li {
  margin-top: -1px;
  margin-bottom: 0;
}

.tabs-below > .nav-tabs > li > a {
  -webkit-border-radius: 0 0 4px 4px;
  -moz-border-radius: 0 0 4px 4px;
  border-radius: 0 0 4px 4px;
}

.tabs-below > .nav-tabs > li > a:hover,
.tabs-below > .nav-tabs > li > a:focus {
  border-top-color: #ddd;
  border-bottom-color: transparent;
}

.tabs-below > .nav-tabs > .active > a,
.tabs-below > .nav-tabs > .active > a:hover,
.tabs-below > .nav-tabs > .active > a:focus {
  border-color: transparent #ddd #ddd #ddd;
}

.tabs-left > .nav-tabs > li,
.tabs-right > .nav-tabs > li {
  float: none;
}

.tabs-left > .nav-tabs > li > a,
.tabs-right > .nav-tabs > li > a {
  min-width: 74px;
  margin-right: 0;
  margin-bottom: 3px;
}

.tabs-left > .nav-tabs {
  float: left;
  margin-right: 19px;
  border-right: 1px solid #ddd;
}

.tabs-left > .nav-tabs > li > a {
  margin-right: -1px;
  -webkit-border-radius: 4px 0 0 4px;
  -moz-border-radius: 4px 0 0 4px;
  border-radius: 4px 0 0 4px;
}

.tabs-left > .nav-tabs > li > a:hover,
.tabs-left > .nav-tabs > li > a:focus {
  border-color: #eeeeee #dddddd #eeeeee #eeeeee;
}

.tabs-left > .nav-tabs .active > a,
.tabs-left > .nav-tabs .active > a:hover,
.tabs-left > .nav-tabs .active > a:focus {
  border-color: #ddd transparent #ddd #ddd;
  *border-right-color: #ffffff;
}

.tabs-right > .nav-tabs {
  float: right;
  margin-left: 19px;
  border-left: 1px solid #ddd;
}

.tabs-right > .nav-tabs > li > a {
  margin-left: -1px;
  -webkit-border-radius: 0 4px 4px 0;
  -moz-border-radius: 0 4px 4px 0;
  border-radius: 0 4px 4px 0;
}

.tabs-right > .nav-tabs > li > a:hover,
.tabs-right > .nav-tabs > li > a:focus {
  border-color: #eeeeee #eeeeee #eeeeee #dddddd;
}

.tabs-right > .nav-tabs .active > a,
.tabs-right > .nav-tabs .active > a:hover,
.tabs-right > .nav-tabs .active > a:focus {
  border-color: #ddd #ddd #ddd transparent;
  *border-left-color: #ffffff;
}

/* Paper */
.paper-white {
  background: #FEFEFE !important;
  border: 1px solid #FEFEFE !important;
}

.paper {
  position: relative;
  padding: 19px;
  margin-bottom: 20px;
  background: #f8f1e2;
  border: 1px solid #f8f1e2;
  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(128, 128, 128, 0.1) inset;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(128, 128, 128, 0.1) inset;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(128, 128, 128, 0.1) inset;
}
.paper:before, .paper:after {
  content: "";
  position: absolute;
  z-index: -2;
}

.paper-lift:before, .paper-lift:after {
  bottom: 15px;
  width: 50%;
  height: 20%;
  max-width: 300px;
  max-height: 100px;
  -moz-box-shadow: 0 15px 10px rgba(31, 31, 31, 0.7);
  -webkit-box-shadow: 0 15px 10px rgba(31, 31, 31, 0.7);
  box-shadow: 0 15px 10px rgba(31, 31, 31, 0.7);
}
.paper-lift:before {
  left: 10px;
  -moz-transform: rotate(-3deg);
  -ms-transform: rotate(-3deg);
  -webkit-transform: rotate(-3deg);
  transform: rotate(-3deg);
}
.paper-lift:after {
  right: 10px;
  -moz-transform: rotate(3deg);
  -ms-transform: rotate(3deg);
  -webkit-transform: rotate(3deg);
  transform: rotate(3deg);
}

.paper-curl {
  -moz-border-radius: 0 0 120px 120px / 0 0 6px 6px;
  -webkit-border-radius: 0 0;
  border-radius: 0 0 120px 120px / 0 0 6px 6px;
}
.paper-curl:before, .paper-curl-left:before,
.paper-curl-right:before, .paper-curl:after, .paper-curl-left:after,
.paper-curl-right:after {
  bottom: 12px;
  width: 50%;
  height: 55%;
  max-width: 200px;
  max-height: 100px;
  -moz-box-shadow: 0 8px 12px rgba(31, 31, 31, 0.5);
  -webkit-box-shadow: 0 8px 12px rgba(31, 31, 31, 0.5);
  box-shadow: 0 8px 12px rgba(31, 31, 31, 0.5);
}
.paper-curl:before, .paper-curl-left:before,
.paper-curl-right:before {
  left: 10px;
  -moz-transform: skew(-8deg) rotate(-3deg);
  -ms-transform: skew(-8deg) rotate(-3deg);
  -webkit-transform: skew(-8deg) rotate(-3deg);
  transform: skew(-8deg) rotate(-3deg);
}
.paper-curl:after, .paper-curl-left:after,
.paper-curl-right:after {
  right: 10px;
  -moz-transform: skew(8deg) rotate(3deg);
  -ms-transform: skew(8deg) rotate(3deg);
  -webkit-transform: skew(8deg) rotate(3deg);
  transform: skew(8deg) rotate(3deg);
}

.paper-curl-left {
  -moz-border-radius: 0 0 0 120px / 0 0 0 6px;
  -webkit-border-radius: 0 0;
  border-radius: 0 0 0 120px / 0 0 0 6px;
}

.paper-curl-right {
  -moz-border-radius: 0 0 120px 0 / 0 0 6px 0;
  -webkit-border-radius: 0 0;
  border-radius: 0 0 120px 0 / 0 0 6px 0;
}

.paper-raise:before {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -moz-box-shadow: 0 15px 10px -10px rgba(31, 31, 31, 0.5), 0 1px 4px rgba(31, 31, 31, 0.3);
  -webkit-box-shadow: 0 15px 10px -10px rgba(31, 31, 31, 0.5), 0 1px 4px rgba(31, 31, 31, 0.3);
  box-shadow: 0 15px 10px -10px rgba(31, 31, 31, 0.5), 0 1px 4px rgba(31, 31, 31, 0.3);
}

.paper-curve:before, .paper-curve-left:before, .paper-curve-vert:before,
.paper-curve-right:before, .paper-curve-above:before,
.paper-curve-below:before,
.paper-curve-horiz:before {
  -moz-box-shadow: 0 0 15px rgba(0, 0, 0, 0.6);
  -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.6);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.6);
}

.paper-curve-left:before, .paper-curve-vert:before,
.paper-curve-right:before {
  top: 10px;
  bottom: 10px;
  -moz-border-radius: 10px / 100px;
  -webkit-border-radius: 10px 100px;
  border-radius: 10px / 100px;
}

.paper-curve-left:before, .paper-curve-vert:before {
  left: 0;
  right: 50%;
}

.paper-curve-right:before {
  left: 50%;
  right: 0;
}

.paper-curve-vert:before {
  right: 0;
}

.paper-curve-above:before,
.paper-curve-below:before,
.paper-curve-horiz:before {
  left: 10px;
  right: 10px;
  -moz-border-radius: 100px / 10px;
  -webkit-border-radius: 100px 10px;
  border-radius: 100px / 10px;
}

.paper-curve-above:before {
  top: 0;
  bottom: 50%;
}

.paper-curve-below:before, .paper-curve-horiz:before {
  top: 50%;
  bottom: 0;
}

.paper-curve-horiz:before {
  top: 0;
}

CSS
.paper {
  position: relative;
  padding: 19px;
  margin-bottom: 20px;
  background: #fafafa;
  border: 1px solid #fafafa;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(128, 128, 128, 0.1) inset;
  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(128, 128, 128, 0.1) inset;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(128, 128, 128, 0.1) inset;
}

.paper:before, .paper:after {
  content: "";
  position: absolute;
  z-index: -2;
}

.paper-lift:before, .paper-lift:after {
  bottom: 15px;
  width: 50%;
  height: 20%;
  max-width: 300px;
  max-height: 100px;
  -webkit-box-shadow: 0 15px 10px rgba(31, 31, 31, 0.7);
  -moz-box-shadow: 0 15px 10px rgba(31, 31, 31, 0.7);
  box-shadow: 0 15px 10px rgba(31, 31, 31, 0.7);
}

.paper-lift:before {
  left: 10px;
  -webkit-transform: rotate(-3deg);
  -moz-transform: rotate(-3deg);
  -ms-transform: rotate(-3deg);
  -o-transform: rotate(-3deg);
  transform: rotate(-3deg);
}

.paper-lift:after {
  right: 10px;
  -webkit-transform: rotate(3deg);
  -moz-transform: rotate(3deg);
  -ms-transform: rotate(3deg);
  -o-transform: rotate(3deg);
  transform: rotate(3deg);
}

.paper-curl {
  -webkit-border-radius: 0 0;
  -moz-border-radius: 0 0 120px 120px / 0 0 6px 6px;
  border-radius: 0 0 120px 120px / 0 0 6px 6px;
}

.paper-curl:before, .paper-curl-left:before,
.paper-curl-right:before, .paper-curl-left:before,
.paper-curl-right:before, .paper-curl:after, .paper-curl-left:after,
.paper-curl-right:after, .paper-curl-left:after,
.paper-curl-right:after {
  bottom: 12px;
  width: 50%;
  height: 55%;
  max-width: 200px;
  max-height: 100px;
  -webkit-box-shadow: 0 8px 12px rgba(31, 31, 31, 0.5);
  -moz-box-shadow: 0 8px 12px rgba(31, 31, 31, 0.5);
  box-shadow: 0 8px 12px rgba(31, 31, 31, 0.5);
}

.paper-curl:before, .paper-curl-left:before,
.paper-curl-right:before, .paper-curl-left:before,
.paper-curl-right:before {
  left: 10px;
  -webkit-transform: skew(-8deg) rotate(-3deg);
  -moz-transform: skew(-8deg) rotate(-3deg);
  -ms-transform: skew(-8deg) rotate(-3deg);
  -o-transform: skew(-8deg) rotate(-3deg);
  transform: skew(-8deg) rotate(-3deg);
}

.paper-curl:after, .paper-curl-left:after,
.paper-curl-right:after, .paper-curl-left:after,
.paper-curl-right:after {
  right: 10px;
  -webkit-transform: skew(8deg) rotate(3deg);
  -moz-transform: skew(8deg) rotate(3deg);
  -ms-transform: skew(8deg) rotate(3deg);
  -o-transform: skew(8deg) rotate(3deg);
  transform: skew(8deg) rotate(3deg);
}

.paper-curl-left {
  -webkit-border-radius: 0 0;
  -moz-border-radius: 0 0 0 120px / 0 0 0 6px;
  border-radius: 0 0 0 120px / 0 0 0 6px;
}

.paper-curl-right {
  -webkit-border-radius: 0 0;
  -moz-border-radius: 0 0 120px 0 / 0 0 6px 0;
  border-radius: 0 0 120px 0 / 0 0 6px 0;
}

.paper-raise:before {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-box-shadow: 0 15px 10px -10px rgba(31, 31, 31, 0.5), 0 1px 4px rgba(31, 31, 31, 0.3);
  -moz-box-shadow: 0 15px 10px -10px rgba(31, 31, 31, 0.5), 0 1px 4px rgba(31, 31, 31, 0.3);
  box-shadow: 0 15px 10px -10px rgba(31, 31, 31, 0.5), 0 1px 4px rgba(31, 31, 31, 0.3);
}

.paper-curve:before, .paper-curve-left:before, .paper-curve-vert:before,
.paper-curve-right:before, .paper-curve-above:before,
.paper-curve-below:before,
.paper-curve-horiz:before, .paper-curve-left:before, .paper-curve-vert:before, .paper-curve-vert:before,
.paper-curve-right:before, .paper-curve-above:before,
.paper-curve-below:before,
.paper-curve-horiz:before,
.paper-curve-horiz:before {
  -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 0 0 15px rgba(0, 0, 0, 0.6);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.6);
}

.paper-curve-left:before, .paper-curve-vert:before, .paper-curve-vert:before,
.paper-curve-right:before {
  top: 10px;
  bottom: 10px;
  -webkit-border-radius: 10px 100px;
  -moz-border-radius: 10px / 100px;
  border-radius: 10px / 100px;
}

.paper-curve-left:before, .paper-curve-vert:before, .paper-curve-vert:before {
  left: 0;
  right: 50%;
}

.paper-curve-right:before {
  left: 50%;
  right: 0;
}

.paper-curve-vert:before {
  right: 0;
}

.paper-curve-above:before,
.paper-curve-below:before,
.paper-curve-horiz:before,
.paper-curve-horiz:before {
  left: 10px;
  right: 10px;
  -webkit-border-radius: 100px 10px;
  -moz-border-radius: 100px / 10px;
  border-radius: 100px / 10px;
}

.paper-curve-above:before {
  top: 0;
  bottom: 50%;
}

.paper-curve-below:before, .paper-curve-horiz:before, .paper-curve-horiz:before {
  top: 50%;
  bottom: 0;
}

.paper-curve-horiz:before {
  top: 0;
}

.jumbotron {
  margin-bottom: 0;
  background: none;
  background: -moz-linear-gradient(top, #96d9f8, rgba(150, 217, 248, 0.8), #f0faff);
  background: -webkit-linear-gradient(top, #96d9f8, rgba(150, 217, 248, 0.8), #f0faff);
  background: linear-gradient(to bottom, #96d9f8, rgba(150, 217, 248, 0.8), #f0faff);
}
.jumbotron h1 {
  font-size: 52px;
  font-size: 3.25rem;
  letter-spacing: 10px;
  margin: 0;
  padding: 0;
  color: white;
  text-shadow: rgba(33, 117, 156, 0.3) 2px 2px 0, rgba(33, 117, 156, 0.3) 1px 1px 0, rgba(33, 117, 156, 0.3) 1px 1px 0;
  margin-top: 8px;
}
.jumbotron .twb-header {
  text-align: center;
}
.jumbotron .twb-title {
  margin-top: -28px;
}
.jumbotron .twb-http {
  color: rgba(3, 106, 165, 0.5);
  margin-top: -20px;
  font-size: 24px;
  font-size: 1.5rem;
}
.jumbotron .twb-donate {
  margin-top: 15px;
  margin-bottom: 15px;
}

@media (min-width: 980px) {
  .jumbotron > form[role='search'] {
    margin: 0 auto;
    width: 42%;
  }
}
.jumbotron > form[role='search'] .dropdown-backdrop {
  position: static;
}
.jumbotron > form[role='search'] .dropdown-menu {
  position: static;
  z-index: 1001;
}
.jumbotron > form[role='search'] .dropdown-menu > li > a {
  font-size: 32px;
  font-size: 2rem;
}

article.news {
  padding: 12px;
}
article.news img {
  padding: 5px;
}

.nav > li > a:hover, .nav > li > a:focus {
  color: rgba(3, 106, 165, 0.9);
  background: rgba(240, 250, 255, 0.8);
}

.panel-default {
  border: 1px solid #96d9f8;
}
.panel-default h4 > a {
  color: #036aa5;
}
.panel-default .panel-heading {
  border: none;
  background: -moz-linear-gradient(top, #ffffff, #f0faff);
  background: -webkit-linear-gradient(top, #ffffff, #f0faff);
  background: linear-gradient(to bottom, #ffffff, #f0faff);
}
.panel-default .panel-heading.active {
  background: -moz-linear-gradient(top, #96d9f8, #f0faff, rgba(255, 255, 255, 0.5));
  background: -webkit-linear-gradient(top, #96d9f8, #f0faff, rgba(255, 255, 255, 0.5));
  background: linear-gradient(to bottom, #96d9f8, #f0faff, rgba(255, 255, 255, 0.5));
}
.panel-default .tab-content {
  background: rgba(255, 255, 255, 0.5);
  border: 1px solid #96d9f8;
}
.panel-default .panel-heading + .panel-collapse > .panel-body {
  background: rgba(241, 248, 254, 0.5);
  border-top: none;
}

.panel-heading .accordion-toggle:after {
  font-family: FontAwesome;
  content: "\f107";
  float: right;
  color: #036aa5;
}

.panel-heading .accordion-toggle.collapsed:after {
  font-family: FontAwesome;
  content: "\f105";
  float: right;
  color: #036aa5;
}

.nav-tabs {
  border-bottom: none;
}
.nav-tabs li a {
  font-size: 24px;
  font-size: 1.5rem;
  background: -moz-linear-gradient(top, #96d9f8, #f0faff, rgba(255, 255, 255, 0.5));
  background: -webkit-linear-gradient(top, #96d9f8, #f0faff, rgba(255, 255, 255, 0.5));
  background: linear-gradient(to bottom, #96d9f8, #f0faff, rgba(255, 255, 255, 0.5));
}
.nav-tabs li a:hover, .nav-tabs li a:focus {
  color: #036aa5;
  border: none;
}
.nav-tabs li.active a {
  font-weight: bold;
  color: #036aa5;
  border: none;
  border-bottom: 1px solid white;
}
.nav-tabs li.active a:hover, .nav-tabs li.active a:focus {
  color: #036aa5;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  background: -moz-linear-gradient(top, #96d9f8, #f0faff, rgba(255, 255, 255, 0.5));
  background: -webkit-linear-gradient(top, #96d9f8, #f0faff, rgba(255, 255, 255, 0.5));
  background: linear-gradient(to bottom, #96d9f8, #f0faff, rgba(255, 255, 255, 0.5));
}

.tab-content {
  background: rgba(255, 255, 255, 0.5);
  border: 1px solid #96d9f8;
  margin-bottom: 24px;
}

footer {
  color: white;
  background: rgba(33, 117, 156, 0.9);
}
footer #copyright p {
  margin: 0;
  line-height: 24px;
  text-align: center;
}

.toogle {
  top: 12px;
  z-index: 32767;
  position: fixed;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
}
.toogle a, .toogle a:active, .toogle a:hover {
  font-size: 42px;
  font-size: 2.625rem;
  color: rgba(3, 106, 165, 0.8);
}
@media (min-width: 740px) {
  .toogle a, .toogle a:active, .toogle a:hover {
    font-size: 64px;
    font-size: 4rem;
  }
}
.toogle a:focus {
  color: rgba(0, 128, 117, 0.5);
}
.toogle a.btn.btn-default {
  border: none;
  border-radius: 0;
  background: rgba(255, 255, 255, 0.5);
}
.toogle.left {
  left: 0;
}
.toogle.left a.btn.btn-default {
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
}
.toogle.right {
  right: 0;
}
.toogle.right a.btn.btn-default {
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
}

ul.user-panel {
  padding: 0;
  margin: 0;
  background: rgba(241, 248, 254, 0.5);
  border: 5px solid #96d9f8;
  font-size: 26px;
  font-size: 1.625rem;
  padding-bottom: 12px;
  margin-bottom: 12px;
}
ul.user-panel li {
  padding: 0;
  margin: 0;
  list-style: none;
}
ul.user-panel li {
  padding: 0 12px;
}
ul.user-panel h2 {
  padding-left: 12px;
  padding-top: 6px;
  font-size: 32px;
  font-size: 2rem;
}

#twb-nav {
  padding: 0;
  margin: 0;
  margin-left: 33px;
  margin-right: -16px;
}
#twb-nav li {
  padding: 0;
  margin: 0;
  list-style: none;
}
#twb-nav ul {
  margin-top: 12px;
  font-size: 28px;
  font-size: 1.75rem;
}
#twb-nav ul.first {
  width: 50%;
  float: left;
  padding-left: 2.7777777778%;
  padding-right: 2.7777777778%;
}
#twb-nav ul.second {
  width: 50%;
  float: right;
  padding-left: 2.7777777778%;
  padding-right: 2.7777777778%;
}
#twb-nav ul li {
  text-align: left;
  margin-bottom: 8px;
}
#twb-nav ul li a {
  padding: 5px 7px;
}
#twb-nav ul > li:first-child {
  font-size: 42px;
  font-size: 2.625rem;
  margin-top: -15px;
}
@media (min-width: 740px) {
  #twb-nav ul.first {
    width: 50%;
    float: left;
    padding-left: 2.7777777778%;
    padding-right: 2.7777777778%;
  }
  #twb-nav ul.second {
    width: 50%;
    float: right;
    padding-left: 2.7777777778%;
    padding-right: 2.7777777778%;
  }
}
@media (min-width: 980px) {
  #twb-nav ul {
    font-size: 28px;
    font-size: 1.75rem;
  }
  #twb-nav ul.first {
    width: 50%;
    float: left;
    padding-left: 2.7777777778%;
    padding-right: 2.7777777778%;
  }
  #twb-nav ul.second {
    width: 50%;
    float: right;
    padding-left: 2.7777777778%;
    padding-right: 2.7777777778%;
  }
}

.panel-default .panel-heading {
  color: #036aa5;
}

.panel-default .panel-body img {
  float: left;
  padding-right: 12px;
}

#container.bible aside.left {
  -moz-transform: rotate3d(0, 0, 0, 0);
  -ms-transform: rotate3d(0, 0, 0, 0);
  -webkit-transform: rotate3d(0, 0, 0, 0);
  transform: rotate3d(0, 0, 0, 0);
  width: 100%;
  float: left;
  padding-left: 1.3888888889%;
  padding-right: 1.3888888889%;
  margin-left: -100%;
}
.show-left #container.bible aside.left {
  margin-left: 0;
}

#container.bible main {
  -moz-transform: rotate3d(0, 0, 0, 0);
  -ms-transform: rotate3d(0, 0, 0, 0);
  -webkit-transform: rotate3d(0, 0, 0, 0);
  transform: rotate3d(0, 0, 0, 0);
  width: 100%;
  float: left;
  padding-left: 1.3888888889%;
  padding-right: 1.3888888889%;
  margin-right: -100%;
}
.show-right #container.bible main {
  margin-left: -100%;
}

#container.bible aside.right {
  -moz-transform: rotate3d(0, 0, 0, 0);
  -ms-transform: rotate3d(0, 0, 0, 0);
  -webkit-transform: rotate3d(0, 0, 0, 0);
  transform: rotate3d(0, 0, 0, 0);
  width: 100%;
  float: right;
  padding-left: 1.3888888889%;
  padding-right: 1.3888888889%;
  margin-right: -100%;
}
.show-right #container.bible aside.right {
  margin-right: 0;
}

@media (min-width: 740px) {
  #container.bible [href="#left"] {
    visibility: visible;
  }

  #container.bible aside.left {
    width: 37.5%;
    float: left;
    padding-left: 1.25%;
    padding-right: 1.25%;
    margin-left: -37.5%;
  }
  .show-right #container.bible aside.left {
    margin-left: -37.5%;
  }

  #container.bible main {
    width: 100%;
    float: left;
    padding-left: 1.25%;
    padding-right: 1.25%;
  }
  .show-right #container.bible main {
    margin-right: 0;
    margin-left: -62.5%;
  }

  #container.bible aside.right {
    width: 62.5%;
    float: right;
    padding-left: 1.25%;
    padding-right: 1.25%;
  }
  .show-right #container.bible aside.right {
    margin-right: 0;
  }
}
@media only screen and (min-width: 740px) and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
  .show-right #container.bible aside.right {
    margin-left: 0;
    width: 50%;
    float: right;
    padding-left: 1.25%;
    padding-right: 1.25%;
  }
}

@media (min-width: 980px) {
  #container.bible [href="#left"] {
    visibility: hidden;
  }

  #container.bible [href="#right"] {
    visibility: hidden;
  }
}
@media only screen and (min-width: 980px) and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
  #container.bible [href="#left"] {
    visibility: visible;
  }

  #container.bible [href="#right"] {
    visibility: visible;
  }
}
@media (min-width: 980px) {
  #container.bible aside.left {
    width: 25%;
    float: left;
    padding-left: 0.8333333333%;
    padding-right: 0.8333333333%;
    margin-left: 0;
  }
}
@media only screen and (min-width: 980px) and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
  #container.bible aside.left {
    width: 33.3333333333%;
    float: left;
    padding-left: 0.8333333333%;
    padding-right: 0.8333333333%;
    margin-left: -33.3333333333%;
  }
}
@media (min-width: 980px) {
  .show-right #container.bible aside.left {
    width: 25%;
    float: left;
    padding-left: 0.8333333333%;
    padding-right: 0.8333333333%;
    margin-left: 0;
  }

  #container.bible main {
    width: 50%;
    float: left;
    padding-left: 0.8333333333%;
    padding-right: 0.8333333333%;
    margin-left: 0;
  }
}
@media only screen and (min-width: 980px) and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
  #container.bible main {
    width: 100%;
    float: left;
    padding-left: 0.8333333333%;
    padding-right: 0.8333333333%;
  }
}
@media (min-width: 980px) {
  .show-right #container.bible main {
    margin-left: 0;
    width: 50%;
    float: left;
    padding-left: 0.8333333333%;
    padding-right: 0.8333333333%;
  }
}
@media only screen and (min-width: 980px) and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
  .show-right #container.bible main {
    width: 66.6666666667%;
    float: left;
    padding-left: 0.8333333333%;
    padding-right: 0.8333333333%;
    margin-left: -33.3333333333%;
  }
}

@media (min-width: 980px) {
  #container.bible aside.right {
    margin-right: 0;
    width: 25%;
    float: right;
    padding-left: 0.8333333333%;
    padding-right: 0.8333333333%;
  }
}
@media only screen and (min-width: 980px) and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
  #container.bible aside.right {
    width: 33.3333333333%;
    float: right;
    padding-left: 0.8333333333%;
    padding-right: 0.8333333333%;
    margin-right: -41.6666666667%;
  }
}
@media (min-width: 980px) {
  .show-right #container.bible aside.right {
    margin-right: 0;
    width: 25%;
    float: right;
    padding-left: 0.8333333333%;
    padding-right: 0.8333333333%;
  }
}
@media only screen and (min-width: 980px) and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
  .show-right #container.bible aside.right {
    width: 33.3333333333%;
    float: right;
    padding-left: 0.8333333333%;
    padding-right: 0.8333333333%;
  }
}

#container.bible {
  background: #f1f8fe;
}
#container.bible .layout {
  margin: -10px;
}
#container.bible .toogle a, #container.bible .toogle a:active, #container.bible .toogle a:hover {
  color: rgba(59, 58, 53, 0.8);
}
#container.bible .toogle a:focus {
  color: rgba(59, 58, 53, 0.5);
}
#container.bible .btn a {
  color: rgba(59, 58, 53, 0.5);
}
#container.bible .list-group.books {
  text-align: center;
  margin-top: 24px;
}
#container.bible .list-group.books .list-group-item {
  display: inline-block;
  width: 210px;
  text-align: center;
  margin-bottom: 5px;
}
#container.bible .list-group.chapters {
  text-align: center;
  margin-top: 24px;
}
#container.bible .list-group.chapters .list-group-item {
  display: inline-block;
  width: 120px;
  text-align: center;
  margin-bottom: 5px;
}
#container.bible ul.intro {
  color: rgba(59, 58, 53, 0.9);
  padding: 0;
  margin: 0;
  font-size: 26px;
  font-size: 1.625rem;
}
#container.bible ul.intro li {
  padding: 0;
  margin: 0;
  list-style: none;
}
#container.bible ul.intro li {
  padding-left: 12px;
  padding-right: 12px;
  line-height: 2.1;
}

#bible-read-toolbar {
  text-align: center;
}

#bible-read-toolbar .btn-toolbar {
  display: inline-block;
}

#bible-read h2 {
  color: rgba(59, 58, 53, 0.9);
  line-height: 54px;
  text-align: center;
}
#bible-read h3 {
  color: rgba(59, 58, 53, 0.9);
  text-align: center;
  margin-top: 8px;
  margin-bottom: 42px;
  letter-spacing: 3px;
}
#bible-read p {
  color: rgba(59, 58, 53, 0.9);
}
#bible-read .content {
  padding: 16px;
  font-size: 32px;
  font-size: 2rem;
  line-height: 2.1;
  text-align: justify;
  text-justify: inter-ideograph;
  color: rgba(59, 58, 53, 0.9);
}
@media (min-width: 740px) {
  #bible-read .content {
    padding: 42px;
  }
}

#game-quiz div.response {
  text-align: center;
  font-size: 36px;
  font-size: 2.25rem;
}

html, body {
  width: 100%;
  height: 100%;
}

html {
  font-size: 62.5%;
}
@media (min-width: 980px) {
  html {
    font-size: 53.3%;
  }
}

h2 {
  color: #008075;
}

body {
  color: #1b3b55;
  font-size: 28px;
  font-size: 1.75rem;
}

a {
  color: #036aa5;
  text-decoration: none;
  padding: 0;
}
a:hover {
  color: rgba(3, 106, 165, 0.5);
}

.page {
  min-width: 260px;
  overflow: hidden;
  background: #f0faff;
  padding-bottom: 20px;
}
