
$twb-text: hsl(207, 51%, 22%);
$twb-main: hsl(199, 87%, 78%);
$twb-sub: hsl(201, 100%, 97%);
$twb-white: hsl(0, 0%, 100%);
$twb-yellow: hsl(44, 100%, 63%);
$twb-blue: hsl(202, 96%, 33%);
$twb-red: hsl(356, 100%, 50%);
$twb-green: hsl(175, 100%, 25%);
$twb-light: hsl(205, 86%, 97%);
$twb-heavily: hsl(199, 65%, 37%);
$twb-shadow: hsl(199, 65%, 37%);
