#container {
  @include container;

  @include susy-breakpoint($tablet-bp, $tablet) {
    @include container;
  }
  @include susy-breakpoint($desktop-bp, $desktop) {
    @include container;
  }
  @include susy-breakpoint($wide-desktop-bp, $wide-desktop) {
    @include container(1440px);
  }

}

header, footer {
  @include clearfix;
  clear: both;
  min-height: 24px;
  padding: 12px;
}

aside.left, main, aside.right {
  @include transition (all 450ms ease-in-out);
  @include translateZ(0);
  @include backface-visibility(hidden);
  @include perspective(1000);
  padding-top: 12px;
}

aside.left {
  @include span($mobile-columns);
  margin-left: - span($mobile-columns);
  .show-left & {
    margin-left: 0;
  }
}

main {
  @include span($mobile-columns);
  margin-right: - span($mobile-columns);
  .show-right & { margin-left: - span($mobile-columns); }
}

aside.right {
  @include span($mobile-columns last);
  margin-right: -100%;
  .show-left & { margin-right: - span($mobile-columns) * 2; }
  .show-right & {
    margin-right: 0;
  }
}

// Tablet

@include susy-breakpoint($tablet-bp, $tablet) {

  [href="#left"] { visibility: hidden; }
  .show-left {
    [href="#left"] { visibility: visible; }
  }
  aside.left {
    @include span(3);
    margin-left: 0;
    .show-right & { margin-left: - span(3); }
  }
  main {
    @include span(5);
    .show-right & {
      margin-left: 0;
      @include span(5);
      @include ipad(landscape) {
        @include span(3);
      }
    }
  }
  aside.right {
    @include span(3 last);
    .show-right & {
      margin-right: 0;
      @include ipad(landscape) {
        @include span(2 last);
      }
    }
  }

}

// Desktop

@include susy-breakpoint($desktop-bp, $desktop) {

  [href="#right"] { visibility: hidden; }
  .show-left {
    [href="#left"] { visibility: hidden; }
  }
  aside.left {
    @include span(3);
    .show-right & {
      margin-left: 0;
    }
  }
  main {
    @include span(6);
    .show-right & {
      margin-left: 0;
      @include span(6);
    }
  }
  aside.right {
    margin-right: 0;
    @include span(3 last);
    .show-left & {
      margin-right: 0;
    }
  }
}


ul {
  padding-left: 0 !important;
}

ul.nav > li > a {
  text-overflow : ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.more {
  text-align: right;
}

.tab-content {
  padding: 12px;
}

.tab-content img, .panel-body img {
  float: right;
  padding: 0 0 0 15px;
}

.panel-title > a {
    display: block;
    padding: 10px 15px;
    margin: -10px -15px;
}

#imgroll-box {
  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

#back-nav {
  text-align: center;
  padding: 12px;
}

@-moz-document url-prefix() {
  fieldset { display: table-cell; }
}
