$link:#e16e2b; // Orange Link Color
$linko:#f4810f; // Link hover
$text:#3a363d; // Standard Text Color
$bgs:#77c7c6; // Teal color used for backgrounds
$tan:#dbd8cf; // Tan color
$grey:#3d393a; // Standard dark grey
$pink:#c9005d;
