#wiki {
  .label {
    display: inline-block;
    margin-bottom: 6px;
  }

  .qa {
    .qa-link {
      @include noList;
      ul {
        @include font-size(26px);
        margin-left: 8px;
        margin-top: 8px;
        li {
          margin-top: 8px;
          padding-bottom: 8px;
          border-bottom: 1px dashed rgba($twb-grey, .5);
        }
      }
    }
  }
}
