//@charset "UTF-8";
// Screen
// ======

@import "grids";
@import "breakpoint";
@import "media-queries";
@import "compass";
@import "//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.2.0/css/bootstrap.css";
@import "vars";
@import "mixin";
@import "colors";
@import "typography";
@import "layout";
@import "../libs/bootstrap-switch/dist/css/bootstrap3/bootstrap-switch.min.css";
@import "misc/bootstrap-tabs";
@import "misc/paper";
@import "partials/jumbotron";
@import "partials/news";
@import "partials/collapse-tabs";
@import "partials/footer";
@import "partials/toggle";
@import "partials/user-panel";
@import "partials/twb-nav";
@import "partials/panel";
@import "partials/material-read";
@import "bible";
@import "game-quiz";
@import "news";
@import "spirit";
@import "topic";
@import "diary";
@import "mblog";

@import "//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.1.0/css/font-awesome.min.css";

$base-font-size: 20px;
$base-line-height: 36px;
$round-to-nearest-half-line: true;
$rhythm-unit: "rem";

html, body {
  width: 100%;
  height: 100%;
}

html {
  font-size: 62.5%;
}

h2 {
  color: $twb-green;
}

body {
  color: $twb-text;
  @include font-size(28px);
}

a {
  @include link-colors($twb-blue, rgba($twb-blue, .5));
  text-decoration: none;
  padding: 0;
}

.page {
  min-width: 320px;
  overflow: hidden;
  background: $twb-sub;
  padding-bottom: 20px;
}
