//@charset "UTF-8";
// Screen
// ======

@import "grids";
@import "breakpoint";
@import "media-queries";
@import "compass";
@import "../www/libs/Han/sass/han";
@import "bootstrap";
@import "misc/bootstrap-tabs";
@import "vars";
@import "mixin";
@import "colors";
@import "typography";
@import "layout";
@import "partials/jumbotron";
@import "partials/news";
@import "partials/collapse-tabs";
@import "partials/footer";
@import "partials/toggle";
@import "partials/user-panel";
@import "partials/twb-nav";
@import "partials/panel";
@import "//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.1.0/css/font-awesome.min.css";

$base-font-size: 20px;
$base-line-height: 36px;
$round-to-nearest-half-line: true;
$rhythm-unit: "rem";

html, body {
  width: 100%;
  height: 100%;
}

h2 {
  color: $twb-green;
}

body {
  color: $twb-text;
}

a {
  @include link-colors($twb-blue, rgba($twb-blue, .5));
  text-decoration: none;
  padding: 0;
}

.page {
  @include background( linear-gradient(top, rgba($twb-main, 1), rgba($twb-white, 1), rgba($twb-sub, 1)) );
}
