- content_for(:title, '創世紀 第 1 章')

#bible-read
  %aricle
    .content.paper.paper-white.paper-curl
      %h3 創世紀
      %h4 第 1 章
      %p
        :plain
          1   起初，神創造天地。
          2   地是空虛混沌，淵面黑暗；神的靈運行在水面上。
          3   神說：「要有光」，就有了光。
          4   神看光是好的，就把光暗分開了。
          5   神稱光為「晝」，稱暗為「夜」。有晚上，有早晨，這是頭一日。
          6   神說：「諸水之間要有空氣，將水分為上下。」
          7   神就造出空氣，將空氣以下的水、空氣以上的水分開了。事就這樣成了。
          8   神稱空氣為「天」。有晚上，有早晨，是第二日。
          9   神說：「天下的水要聚在一處，使旱地露出來。」事就這樣成了。
          10  神稱旱地為「地」，稱水的聚處為「海」。神看著是好的。
          11  神說：「地要發生青草和結種子的菜蔬，並結果子的樹木，各從其類，果子都包著核。」事就這樣成了。
          12  於是地發生了青草和結種子的菜蔬，各從其類；並結果子的樹木，各從其類；果子都包著核。神看著是好的。
          13  有晚上，有早晨，是第三日。
          14  神說：「天上要有光體，可以分晝夜，作記號，定節令、日子、年歲，
          15  並要發光在天空，普照在地上。」事就這樣成了。
          16  於是神造了兩個大光，大的管晝，小的管夜，又造眾星，
          17  就把這些光擺列在天空，普照在地上，
          18  管理晝夜，分別明暗。神看著是好的。
          19  有晚上，有早晨，是第四日。
          20  神說：「水要多多滋生有生命的物；要有雀鳥飛在地面以上，天空之中。」
          21  神就造出大魚和水中所滋生各樣有生命的動物，各從其類；又造出各樣飛鳥，各從其類。神看著是好的。
          22  神就賜福給這一切，說：「滋生繁多，充滿海中的水；雀鳥也要多生在地上。」
          23  有晚上，有早晨，是第五日。
          24  神說：「地要生出活物來，各從其類；牲畜、昆蟲、野獸，各從其類。」事就這樣成了。
          25  於是神造出野獸，各從其類；牲畜，各從其類；地上一切昆蟲，各從其類。神看著是好的。
          26  神說：「我們要照著我們的形像、按著我們的樣式造人，使他們管理海裡的魚、空中的鳥、地上的牲畜，和全地，並地上所爬的一切昆蟲。」
          27  神就照著自己的形像造人，乃是照著他的形像造男造女。
          28  神就賜福給他們，又對他們說：「要生養眾多，遍滿地面，治理這地，也要管理海裡的魚、空中的鳥，和地上各樣行動的活物。」
          29  神說：「看哪，我將遍地上一切結種子的菜蔬和一切樹上所結有核的果子全賜給你們作食物。
          30  至於地上的走獸和空中的飛鳥，並各樣爬在地上有生命的物，我將青草賜給他們作食物。」事就這樣成了。
          31  神看著一切所造的都甚好。有晚上，有早晨，是第六日。
