- content_for(:title, '基督徒怎麼想？')
- content_for(:bodyClass, 'scrollToContent')

.text-center
  .btn-group
    %a.btn.btn-info.btn-lg.active(href="vote.html") 投票區
    %a.btn.btn-info.btn-lg(href="history.html") 歷史投票

%hr

#vote
  %h3 投票結果

