- content_for(:title, '全網靈修日記')

.text-center
  .btn-group
    %a.btn.btn-info.btn-lg.active(href="diary.html") 全網靈修日記
    %a.btn.btn-info.btn-lg(href="me.html") 我的靈修日記

%hr
%h2.text-center 2014 . 07 . 24
#diary.material-read.two-line
  .twb-box
    .panel.panel-default
      .panel-heading
        %h2 葉子飛 的靈修日記
        .img-avatar
          %img(src="http://v.taiwanbible.com/taiwanbible/main/image.jsp?FileName=20140610-1402365193045.jpg&Size=150")
      .panel-verse
        %p
          :erb
            列王記下第7章<br/>
            列王記下第8章<br/>
            詩篇第119章<br/>
            以西結書第39章<br/>
            哥林多後書第13章<br/>
      .panel-body
        %p
          :erb
            <p>
            這裡有榮耀光照，從艮古到永遠祂永不改變<br/>
            這裡有榮耀光照，因為主與我們同在<br/>
            這裡有榮耀光照，吸引我們的目光緊緊跟隨您~<br/>
            這裡有榮耀光照，因為祂是至高、至聖、至大、至尊的全能 神<br/>
            這裡有榮耀光照~ 哈利路亞 Amen ^^<br/>
            </p>

  .twb-box
    .panel.panel-default
      .panel-heading
        %h2 乘以幾 的靈修日記
        .img-avatar
          %img(src="http://v.taiwanbible.com/taiwanbible/main/image.jsp?FileName=20140418-1397783786838.JPG&Size=150")
      .panel-verse
        %p
          :erb
            撒母耳記下第19章<br/>
            撒母耳記下第20章<br/>
            詩篇第103章<br/>
            以西結書第22章<br/>
            哥林多前書第12章<br/>
      .panel-body
        %p
          :erb
            <p>
            默想<br/>
            </p><p>
            天空醉了一抹紅暈<br/>
            預告了即將酒瘋的颱<br/>
            或許我能閃遠一些<br/>
            </p><p>
            罪悪感黏在身上<br/>
            誰肯回收<br/>
            這我是閃不開自己了<br/>
            </p><p>
            河邊洗衣的婦人說<br/>
            髒了的衣服就得搥打<br/>
            把汙垢給擠出來<br/>
            我如此虐待這件衣服<br/>
            因為我還喜歡穿它<br/>
            </p><p>
            禱告<br/>
            慈愛的天父<br/>
            謝謝你<br/>
            你是我們的創造主<br/>
            你甚至將歷史的過去與未來都指示我們<br/>
            你用愛來對待我<br/>
            也時刻提醒我警醒我<br/>
            因為你並不要殺死我們<br/>
            求你幫助我<br/>
            能堅守信仰<br/>
            並潔淨自己<br/>
            將你指示給我的行出來<br/>
            願同樣的祝福臨到我的妻兒<br/>
            及家族每一位成員<br/>
            奉主耶穌基督的名禱告<br/>
            阿們<br/>
            </p>

  .twb-box
    .panel.panel-default
      .panel-heading
        %h2 sujan 的靈修日記
        .img-avatar
          %img(src="http://www.taiwanbible.com/web/main/27.gif")
      .panel-verse
        %p
          :erb
            歷代志上第5章<br/>
            歷代志上第6章<br/>
            詩篇第122章<br/>
            但以理書第3章<br/>
            以弗所書第6章 <br/>
      .panel-body
        %p
          :erb
            <p>
            撒母耳記上 13 章<br/>
            掃羅登基年四十歲；作以色列王二年的時候，..掃羅率領人民要擊非利士人..<br/>
            非利士人聚集，要與以色列人爭戰，有車三萬輛，馬兵六千，步兵像海邊的沙那樣多，以色列百姓見自己危急窘迫，就藏在山洞、叢林、石穴、隱密處，和坑中。有些希伯來人過了約但河，逃到迦得和基列地。掃羅還是在吉甲，百姓都戰戰兢兢地跟隨他。(1-6)~~非利士人的戰備龐大，使以色列百姓戰兢~~
            </p><p>
            掃羅照著撒母耳所定的日期等了七日。撒母耳還沒有來到吉甲，百姓也離開掃羅散去了。掃羅說：「把燔祭和平安祭帶到我這裡來。」掃羅就獻上燔祭。(8-9) ~~掃羅不等撒母耳到，就以私意獻祭~~
            </p><p>
            剛獻完燔祭，撒母耳就到了。說：「你做的是什麼事呢？」<br/>
            掃羅說：「因為我見百姓離開我散去，你也不照所定的日期來到，而且非利士人聚集在密抹...所以我心裡說：恐怕我沒有禱告耶和華。非利士人下到吉甲攻擊我，我就勉強獻上燔祭。」(10-12)
            </p><p>
            撒母耳對掃羅說：「你做了糊塗事了，沒有遵守耶和華你神所吩咐你的命令。若遵守耶和華必在以色列中堅立你的王位，直到永遠。現在你的王位必不長久。耶和華已經尋著一個合他心意的人，立他作百姓的君，因為你沒有遵守耶和華所吩咐你的。」(13-14)~~掃羅妄自行事，撒母耳痛心指責~~
            </p><p>
            ◎神的祭司才能獻祭，掃羅不順從神，以私意獻祭，不合神的心意，使他要失去王位。<br/>
            凡事要耐性等候神，神要我們不憑血氣行事，能順從聖靈帶領的才有生命平安。
            </p><p>
            因為隨從肉體的人體貼肉體的事，隨從聖靈的人體貼聖靈的事。體貼肉體的，就是死；體貼聖靈的，乃是生命平安。(羅8:5-6)
            </p>
