- content_for(:title, '金頭腦')

#game-quiz
  .layout
    .panel.panel-primary
      .panel-heading 本日「經」頭腦問題
      .panel-body
        約瑟曾為誰解夢？
      .panel-footer
        .btn-group-vertical(data-toggle="buttons")
          %label.btn.btn-default.btn-lg.choice
            %input#opt1(type="radio" name="opts")
              酒政
          %label.btn.btn-default.btn-lg.choice
            %input#opt1(type="radio" name="opts")
              膳長
          %label.btn.btn-default.btn-lg.choice
            %input#opt1(type="radio" name="opts")
              法老
          %label.btn.btn-default.btn-lg.choice
            %input#opt1(type="radio" name="opts")
              以上皆是
      .panel-body.panel-footer
        %a.btn.btn-primary.btn-lg.pull-right(href="quiz_ans.html") 送出答案



