- content_for(:title, '每日經句')
- content_for(:bodyClass, 'scrollToContent')

#daily-verse
  %h2.text-center 本日金句
  .paper.paper-white
    %h4 你們當以基督耶穌的心為心
    %h5.text-right 腓立比書 2 : 5
  %hr
  %h3 先前的金句
  .paper.paper-white
    %h4 你們當以基督耶穌的心為心
    %h5.text-right 腓立比書 2 : 5
  .paper.paper-white
    %h4 你們當以基督耶穌的心為心
    %h5.text-right 腓立比書 2 : 5
  .paper.paper-white
    %h4 你們當以基督耶穌的心為心
    %h5.text-right 腓立比書 2 : 5
  .paper.paper-white
    %h4 你們當以基督耶穌的心為心
    %h5.text-right 腓立比書 2 : 5
  .paper.paper-white
    %h4 你們當以基督耶穌的心為心
    %h5.text-right 腓立比書 2 : 5
  .paper.paper-white
    %h4 你們當以基督耶穌的心為心
    %h5.text-right 腓立比書 2 : 5
