- content_for(:title, '台灣聖經網行動版')

#breaknews
  %ul.nav.nav-pills.nav-stacked
    %li.active
      %a(href="/news/read.html") 台南學 見證宣教史
    %li
      %a(href="#")  貴格會合一堂 社區課程熱門
    %li
      %a(href="#")  猶太人與基督信徒關係今優於昔
    %li
      %a(href="#")  父職缺席世代必讀的書－《男子漢大丈夫》
    %li
      %a(href="#" )  正確因應暴力攻擊 保障人身安全
#content
  %article.news.paper.paper-white.paper-curve-below
    .title
      %h2
        %a(href="/news/read.html") 台南學 見證宣教史
    .news
      %p 在國內，很少有一個地方像台南一樣，彷彿就是台灣史地文化的縮影，在這裡既可以看到平埔族努力重新站起來；荷治遺跡、日本建築也融入了台南文化中，形成了獨特的「台南學」。 ⋯
      .img-box
        %img.img-responsive(src="http://v.taiwanbible.com/upload/news/resize595-20140721-1405907251130.jpg")

  .more
    %a.btn.btn-info.btn-lg(href="/news/news.html") 更多基督教新聞
  %hr

#info
  %ul.nav.nav-tabs.responsive#infoTab
    %li
      %a(href="#site" role="tab" data-toggle="tab") 網站新聞
    %li
      %a(href="#gift" role="tab" data-toggle="tab") 靈糧中心
    %li
      %a(href="#special" role="tab" data-toggle="tab") 專題推薦
    %li
      %a(href="#books" role="tab" data-toggle="tab") 每周一書

  .tab-content.responsive
    .tab-pane.fade.in.clearfix#site
      %img(src="http://www.taiwanbible.com/web/startpage/news/websitenews.jpg")
      %h2 台灣聖經網夏季讀書會
      %p 為鼓勵網友們多閱讀，台灣聖經網夏季讀書會開跑了喔! 聖經網每季會推出五本基督教書籍，供會員用靈糧點數兌換。點數比照靈糧點數中心其他書籍。 (每種書限量3本，共15本)。會員在兌換後兩個月內，如能寄回一篇超過500字以上的讀書心得，台灣聖經網將會返回當初所兌換50%的點數。
      %a.btn.btn-default.btn-md(href="#") 下一則新聞
    .tab-pane.fade.clearfix#gift
      %img(src="http://v.taiwanbible.com/taiwanbible/website/item/TBN1404981899597.jpg")
      %h2 瓶中淚-原來它代表祝福
      %p 曲目： 1.有福了 2.瓶中淚 3.從小到大 4.世上的光 5.太初之愛 6.瓶中激(鋼琴演奏版)
      %p 兌換點數: 3700
      %a.btn.btn-default.btn-md(href="#") 靈糧點數兌換
    .tab-pane.fade.clearfix#special
      %img(src="http://v.taiwanbible.com/files/first/20130610.gif")
      %h2 華人教會名錄 機構名錄
      %p 華人教會名錄機構名錄收集全世界華人基督教教會與機構的詳細資訊，包括教派、教會、神學院、書房、社福機構…等。我們提供教會名稱、電話、住址、電郵、網站等資訊，同時收集聚會語言、時間、各項服務設施等，方便各地華人依自己>需求選擇適合的教會和社會資源。教會名錄機構名錄維護需要你我共同參與。本服務由中華基督教網路發展協會提供。
      %a.btn.btn-default.btn-md(href="#") 立即前往
    .tab-pane.fade.clearfix#books
      %img(src="http://www.biblevalue.com/files/myrock/20140527.jpg")
      %h2 耶穌比宗教大
      %p 如果宗教這麼偉大，為什麼它引發了這麼多戰爭？它能蓋巨型教堂，為什麼卻無法餵養窮人？你追隨的是真實的耶穌，還是被發明出來的耶穌？如果你曾對宗教抱有懷疑、不解，甚至失望，把宗教說的先放一邊，聽聽耶穌是怎麼說的！
      %small
        %p
          %a.badge.alert-info(href="#") 本專題由 MyRock 磐石網路書局提供
      %a.btn.btn-default.btn-md(href="#") 了解更多
#sponsor
  .panel.panel-default
    .panel-heading
      邀請您一起來建立網路會幕
    .panel-body
      %img(src="http://www.taiwanbible.com/web/imgs/tabsingle4.jpg")
      %p 在3500年前，摩西依照神的吩咐，帶領以色列民離開埃及。並在西乃山上，按照神的指示，建立會幕。會幕表明上帝與人的同在。以色列百姓為了建造會幕，踴躍的奉獻，甚至超過所需。當神的選民甘心樂意，將他們自己，並他們的財物奉獻給神時，神的居所就得以建造起來
      %a.btn.btn-primary.btn-large.btn-block(href="#") 立即前往
#topic
  %ul.nav.nav-tabs.responsive#topicTab
    %li
      %a(href="#topic-1" role="tab" data-toggle="tab") 蘇老師時間
    %li
      %a(href="#topic-2" role="tab" data-toggle="tab") 劉三講古
    %li
      %a(href="#topic-3" role="tab" data-toggle="tab") 黃牧師靈修
    %li
      %a(href="#topic-4" role="tab" data-toggle="tab") 每日經歷神

  .tab-content.responsive
    .tab-pane.fade.in#topic-1.clearfix
      .img-avatar
        %img.img-thumbnail(src="http://www.taiwanbible.com/web/bible/pastor3.jpg")
      %a(href="/topic/read.html")
        %h2 錄取時他還沒發瘋-上
      %p.clearfix 唐文宗時有位劉姓考生，中了狀元，立即向朝廷上萬言書，指責在朝權貴，獲罪下獄。朝中有大官質問考官，為何兒戲考政，錄取劉某這樣的瘋子。考官驚慌的解釋說：「錄取時，劉生尚未發瘋。」 為甚麼中了狀元，就變成瘋子呢？ 由於劉生之無懼，向皇帝提萬言書彈劾他們，因此得罪了把持朝政的權貴，顯然是一位急功好義，愛國愛民的人。一旦自己取得發言機會，就毫⋯
      %a.btn.btn-info.btn-lg.pull-right(href="/topic/read.html") 完整閱讀
    .tab-pane.fade#topic-2.clearfix
      .img-avatar
        %img.img-thumbnail(src="http://www.taiwanbible.com/web/bible/pastor2.jpg")
      %a(href="/topic/read.html")
        %h2 信主愈久，愈困惑？
      %p.clearfix 哪會啊？愈事奉愈甘甜啦！ 甘甜只是一個過程而已，等你服事夠久，你就知道，一切都是「虛空的虛空」… 以上對話是某些基督徒在信仰過程中很容易遇到的狀況。 信仰是一個漫長的過程，波動難免⋯
      %a.btn.btn-info.btn-lg.pull-right(href="#") 完整閱讀
    .tab-pane.fade#topic-3.clearfix
      .img-avatar
        %img.img-thumbnail(src="http://www.taiwanbible.com/web/bible/pastor4_1.jpg")
      %a(href="/topic/read.html")
        %h2  和氏璧（7-14-2014）
      %p.clearfix 春秋時期，楚人卞和所發現了一塊美玉，他將玉璞獻給楚厲王，但王認為這只是塊石頭，於是砍去和氏左腳。武王即位，和氏再次將該玉獻給王，但玉工仍然鑑定這是一塊石頭，以致和氏的右腳也被砍掉。和氏回家後⋯
      %a.btn.btn-info.btn-lg.pull-right(href="#") 完整閱讀
    .tab-pane.fade#topic-4.clearfix
      .img-avatar
        %img.img-thumbnail(src="http://www.taiwanbible.com/web/bible/dm0.jpg")
      %a(href="/topic/read.html")
        %h2 每日經歷神
      %p.clearfix 8月30日 箴言 第11天 經文：箴言八章1～36節 主題：無與倫比的智慧 分享： 智慧與無知愚蒙的對比，透過世界情慾的誘惑與試探表達出來；然而，智慧不僅僅幫助我們對抗邪惡⋯
      %a.btn.btn-info.btn-lg.pull-right(href="#") 完整閱讀







