- content_for(:title, '全民塗鴉牆')
- content_for(:bodyClass, 'scrollToContent')

.text-center
  .btn-group
    %a.btn.btn-info.btn-lg.active(href="mblog.html") 全民塗鴉牆
    %a.btn.btn-info.btn-lg(href="me.html") 我的部落格
%hr

#mblog.material-read.two-line
  .twb-box.type-4
    .panel.panel-default
      .panel-type
        我心經句
      .panel-heading
        %a(href="/friends/who.html")
          %h2 三多
        .img-avatar
          %a(href="/friends/who.html")
            %img(src="http://v.taiwanbible.com/taiwanbible/main/image.jsp?FileName=C3.jpg&Size=150")
      .panel-verse
        %p
          :erb
            哥林多前書 1:3 願恩惠、平安從神我們的父並主耶穌基督歸與你們。
      .panel-date
        約 3 分鐘前
      .panel-body
        %p
          :erb
            神是信實的，你們原是被他所召，好與他兒子我們的主耶穌基督一同得分。
        %hr
        .clearfix.text-center
          .btn-group
            %a.btn.btn-default(href="#") 哈利路亞
            %a.btn.btn-default(href="#") 阿門
            %a.btn.btn-default(href="comment.html") 回應
      .panel-footer
        %p 3 人哈利路亞．2 人阿門．1 人回應

  .twb-box.type-2
    .panel.panel-default
      .panel-type
        生活分享
      .panel-heading
        %a(href="/friends/who.html")
          %h2 死里复活的警醒祷告
        .img-avatar
          %a(href="/friends/who.html")
            %img(src="http://v.taiwanbible.com/taiwanbible/main/image.jsp?FileName=20140330-1396109135299.png&Size=150")
      .panel-verse
        %p
          :erb
            討神喜悅
      .panel-date
        約 12 分鐘前
      .panel-body
        %p
          :erb
            <p>
            感謝神改變我的脾氣 感謝神讓我的男友辛勤工作(老闆主動找他) 感謝神保護他的安全 感謝神我已經在準備考試(感謝神男友給我很多提醒與鼓勵) 感謝我的父親載我考試 感謝家人給我關懷 感謝神會把我擺在合適的位置 感謝男友昨晚聽婚姻講座 感謝神讓男友穩定聚會 在人不能 在神凡事都能 感謝男友的付出(和存錢)為結婚努力 感謝神(主賜平安)
            </p>
        %hr
        .clearfix.text-center
          .btn-group
            %a.btn.btn-default(href="#") 哈利路亞
            %a.btn.btn-default(href="#") 阿門
            %a.btn.btn-default(href="comment.html") 回應
      .panel-footer
        %p 3 人哈利路亞．2 人阿門．1 人回應

  .twb-box.type-3
    .panel.panel-default
      .panel-type
        愛秀圖片
      .panel-heading
        %a(href="/friends/who.html")
          %h2 c.c.ocean
        .img-avatar
          %a(href="/friends/who.html")
            %img(src="http://v.taiwanbible.com/taiwanbible/main/image.jsp?FileName=20131120-1384889219492.jpg&Size=150")
      .panel-verse
      .panel-body
        %p
          :erb
            耶和華要保護你，免受一切的災害，他要保護你的性命。 你出你入，耶和華要保護你，從今時直到永遠。 詩 121:7-8
        %hr
        .clearfix.text-center
          .btn-group
            %a.btn.btn-default(href="#") 哈利路亞
            %a.btn.btn-default(href="#") 阿門
            %a.btn.btn-default(href="comment.html") 回應
      .panel-date
        約 47 分鐘前
      .panel-img
        %img.img-responsive(src="http://v.taiwanbible.com/taiwanbible/main/image.jsp?FileName=20140801-1406860020000.jpg&Size=800")
      .panel-footer
        %p 3 人哈利路亞．2 人阿門．1 人回應

  .twb-box.type-1
    .panel.panel-default
      .panel-type
        快人快語
      .panel-heading
        %a(href="/friends/who.html")
          %h2 lswjane
        .img-avatar
          %a(href="/friends/who.html")
            %img(src="http://v.taiwanbible.com/taiwanbible/main/image.jsp?FileName=20130327-1364366919457.jpg&Size=150")
      .panel-verse
      .panel-date
        約 2 小時前
      .panel-body
        %p
          :erb
            我希望上帝能幫助老公一臂之力,讓老闆可以主動找他,求主帶領,感謝讚美主.阿門
        %hr
        .clearfix.text-center
          .btn-group
            %a.btn.btn-default(href="#") 哈利路亞
            %a.btn.btn-default(href="#") 阿門
            %a.btn.btn-default(href="comment.html") 回應
      .panel-footer
        %p 3 人哈利路亞．2 人阿門．1 人回應

  .text-center
    %ul.pagination.pagination-lg
      %li.disabled
        %a(href="#") &laquo;
      %li
        %a(href="#")
          1
          %span.sr-only (目前的頁面)
      %li
        %a(href="#")
          2
      %li
        %a(href="#")
          3
      %li
        %a(href="#")
          4
      %li
        %a(href="#")
          5
      %li
        %a(href="#") &raquo;
