- content_for(:title, '聖經閱讀')
- content_for(:bodyClass, 'scrollToContent')

#bible-read.paper.paper-curl.wth-paper
  %h2 聖經閱讀
  .layout
    #bible-read-toolbar
      .btn-toolbar(role="toolbar")
        .btn-group
          %a.btn.btn-default(href="#")
            上次閱讀
          %a.btn.btn-default(href="#")
            1
          %a.btn.btn-default(href="#")
            2
          %a.btn.btn-default(href="#")
            3
          %a.btn.btn-default(href="#")
            4
          %a.btn.btn-default(href="#")
            5
          %a.btn.btn-default(href="#")
            6

    = render :partial => "/templates/book_list"
