- content_for(:title, '創世紀')

#bible-read.paper.paper-curl.wth-paper
  %h2 創世紀 Genesis
  .layout
    %ul.intro
      %li 作者：摩西

      %li 書名：創世紀的原文意思為「起初」，或根源、來源之意

      %li 時間：約主前15世紀左右

      %li 對象：以色列人

      %li 目的：為顯明當初創造宇宙時，一切都是美好的，但創世記接下來記載罪進入世界，敗壞了神的創造，使得神要展開祂的救贖計畫。創世記為聖經其餘的經卷提供了基本的骨架。

      %li
        重點：
        %ul
          %li (1)創世紀是聖經的第一本書，記載著世界的起源，到始祖的犯罪，與神隔離。
          %li (2)神建立了一個民族，把她分別出來敬拜神。
          %li (3)在50章的篇幅裡，提到了幾個重要人物的故事，包含亞當、挪亞、亞伯拉罕、以撒、雅各及約瑟的故事。

      %li
        :markdown
          鑰節：神就照著自己的形像造人，乃是照著他的形像造男造女。(一27)

          耶和華對亞伯蘭說…我必叫你成為大國。我必賜福給你，叫你的名為大；你也要叫別人得福。為你祝福的，我必賜福與他…地上的萬族都要因你得福。(十二2-3)

      = render :partial => "/templates/chapter_list"
