- content_for(:title, '基督教新聞中心')

#news.material-read.two-line
  .twb-box
    .panel.panel-default
      .panel-heading
        台南學 見證宣教史
      .panel-img
        .origin
          教會公報
        .imgbox
          %img(src="http://v.taiwanbible.com/upload/news/resize595-20140721-1405907251130.jpg")
      .panel-body
        %p.preview
          :plain
            【特稿╱黃以勒】在國內，很少有一個地方像台南一樣，彷彿就是台灣史地文化的縮影，在這裡既可以看到平埔族努力重新站起來；荷治遺跡、日本建築也融入了台南文化中，形成了獨特的「台南學」。 「台南學」並不是個很精確的學問，但它試圖藉由發掘一些歷史記憶、地景奇觀、傳統文化等多面向的特色，凝聚出一種台南人的傲骨，不僅使得生活在其中的人們感到光榮，更吸引許多來到這裡的民⋯
      .panel-btn
        %a.btn.btn-primary.btn-lg.btn-block(href="read.html")【詳全文】

  .twb-box
    .panel.panel-default
      .panel-heading
        復刻印刷機新版開印！
      .panel-img
        .origin
          教會公報
        .imgbox
          %img(src="http://v.taiwanbible.com/upload/news/resize595-20140721-1405907350659.jpg")
      .panel-body
        %p.preview
          :plain
            受到許多兄姊歡迎的復刻印刷機體驗活動，今天開始加入了2個新印刷版，分別是「耶穌魚」與「平安」字樣，未來參與的團體有更多的選擇可以體驗囉！⋯
      .panel-btn
        %a.btn.btn-primary.btn-lg.btn-block(href="#")【詳全文】

  .twb-box
    .panel.panel-default
      .panel-heading
        聖公會青年舉行默禱會 遭保衛香港運動人士抗議
      .panel-img
        .origin
          Christian Times 時代論壇
        .imgbox
          %img(src="http://v.taiwanbible.com/upload/news/resize595-20140721-1405907179443.jpg")
      .panel-body
        %p.preview
          :plain
            由香港聖公會的青年所組成的「聖法蘭西斯行動」於今天（七月十九日）下午四時半一行約十人由添馬公園⋯
      .panel-btn
        %a.btn.btn-primary.btn-lg.btn-block(href="#")【詳全文】

  .twb-box
    .panel.panel-default
      .panel-heading
        不做一行怨一行？研究：教會能幫你
      .panel-img
        .origin
          台灣國度復興報
        .imgbox
      .panel-body
        %p.preview
          :plain
            不想做一行怨一行嗎？有研究發現，教會能幫你辦到。關鍵在⋯
      .panel-btn
        %a.btn.btn-primary.btn-lg.btn-block(href="#")【詳全文】

  .twb-box
    .panel.panel-default
      .panel-heading
        馬航MH17遭飛彈擊落　肢體代禱願主安慰
      .panel-img
        .origin
          今日基督教報
        .imgbox
          %img(src="http://v.taiwanbible.com/upload/news/resize595-20140721-1405906852432.jpg")
      .panel-body
        %p.preview
          :plain
            馬來西亞航空編號MH17，17日自荷蘭阿姆斯特丹飛往馬來西亞吉隆坡，不料起飛後169分鐘卻失聯⋯
      .panel-btn
        %a.btn.btn-primary.btn-lg.btn-block(href="#")【詳全文】
