- content_for(:title, '台南學 見證宣教史')

#news-read
  .paper.paper-white.paper-curve-horiz
    %h2 台南學 見證宣教史
    %p.author
      促進在地認同 福音事工搭配文創風潮代代相傳
    %p.date
      (2014年07月21日)
    %hr
      %p.readable
        :plain
          【特稿╱黃以勒】在國內，很少有一個地方像台南一樣，彷彿就是台灣史地文化的縮影，在這裡既可以看到平埔族努力重新站起來；荷治遺跡、日本建築也融入了台南文化中，形成了獨特的「台南學」。
          「台南學」並不是個很精確的學問，但它試圖藉由發掘一些歷史記憶、地景奇觀、傳統文化等多面向的特色，凝聚出一種台南人的傲骨，不僅使得生活在其中的人們感到光榮，更吸引許多來到這裡的民眾無法輕易離開。
          台南曾是台灣的政經中心，有著傳統仕紳的優雅，關於台南的美食、旅遊、居住等書籍，也在這幾年大量出版，進一步拉抬了「台南學」的興盛，民間的社區、文教團體也常常跑在政府前面，影響政府文化政策，打造一波具有台南特色的文藝復興運動。
          其中「老屋活化」就是「台南學」獨具特色的一環，先有民間團體古都保存再生文教基金會推動的「老屋欣力」，不盲目復舊，更進一步以歷史保存與再生的觀念，以「責任」為訴求來做有限制的再利用。這影響了市政府通過〈台南市歷史街區振興自治條例〉，透過法治保存歷史街區，並完成盤點公有老屋、名人故居等工作。
          這幾年逐漸熱鬧的台南，開始冒出了許多「新的」老街老宅，年輕人或回鄉，或落腳於此開起了特色餐廳、咖啡館，也有許多老房子改建的小酒館、旅店，似乎都看準了這個城市的「舊」，發現了古老傳統的美好。近日的大事，則是6月15日重新開幕的「林百貨」。
          林百貨為台灣第二家百貨公司，老台南人稱為「五層樓仔」的林百貨曾是台南市最高建築，並有南台灣第一部「流籠」（電梯），然而後來荒廢多年，直到1998年公告為市定古蹟，更遲至2010年才展開整修復原的工作。如今位於中正路、忠義路口的林百貨，在市政府的規劃下成為文創百貨，也是外地人來台南不能錯過的文化地標。
          由於承重負荷的考量，林百貨室內不能超過470人，但民眾「排隊進場」也甘願，具歷史的建築，其外牆的溝面磚、頂樓神社、屋頂二次大戰轟炸遺跡、頂樓電梯井、彩色地坪、大面開窗的窗戶、指針式電梯、手搖式鐵捲門被列為8大必看重點；內部則以販售文創產品為主。
          一棟建築、一項特色，常常就能帶動整個周邊的活絡與更深的認同感。對教會界來說也是如此，回顧長老教會歷史，台南可說是南部教會最早發跡之處，具有許多文化瑰寶，經由時間過去，也許塵封在歷史中，需要再一次擦亮，成為今日人們的嚮往。
          「老教堂」是最容易產生話題的景點，太平境教會、看西街教會都吸引了很多非信徒的目光。大隱隱於市的台南神學院，更是讓初次走進去的人們驚嘆於環境的優美與莊嚴的氣氛。許多教會的團契出遊，就常利用一個週末，來趟台南走訪這些老教會、南神、新樓醫院與台灣教會公報社等具有歷史意義的地方。
          南神嗅到了這股文創風潮，最近推出了「巴克禮牧師公仔存錢筒」，希望能夠藉由這個存錢筒，讓來參訪的來賓尤其是主日學生，一方面能夠了解巴克禮牧師對台灣的貢獻，一方面也學習奉獻的心志，並為存錢的用途設定目標，從小懂得支助弱小教會、機構、事工的需要。
          教會公報社更是復刻了台灣第一台印刷機，這台由馬雅各牧師自英國帶回，巴克禮學習組裝、印刷的活版印刷機，真品典藏於長榮中學，為讓今日的信徒、鄉親體會當年巴克禮在出版、文化事業的貢獻，公報社復刻的印刷機可以事先讓報名者實地操作，印出特定文字、圖案。
          為因應7月文字事工月，公報社特別推出了新的印刷版，歡迎更多教會兄姊前來玩賞。透過復刻印刷機的活動，不僅可以串連起台南宣教之旅，公報社也將以此為基礎，創造更多活動、文創商品，讓宣教師在台南的付出，能夠藉此成為「台南學」的一部分。重新發掘傳統的精神、古老的美好，讓雖舊卻新的信仰文化在教會中，成為代代相傳的精彩故事。 　
      %img.img-responsive(src="http://v.taiwanbible.com/upload/news/resize595-20140721-1405907251130.jpg")
  .paper.paper-white.paper-curve-vert
    %div
      %p.text-center
        %a(href="http://www.tcnn.org.tw/") 教會公報
      %p.text-center
        【
        %a(href="http://www.tcnn.org.tw/news-detail.php?nid=7301")  完整新聞及原始連結
        】
