- content_for(:title, '聖經知識庫')
- content_for(:bodyClass, 'scrollToContent')

.text-center
  .btn-group
    %a.btn.btn-info.btn-lg.active(href="wiki.html") 聖經知識庫
    %a.btn.btn-info.btn-lg(href="qa.html") 福音 Q&A

%hr

#wiki
  .paper.paper-white.paper-curl
    %h2 請問亞筆月的意思?
    %p.badge.alert-success 聖經新舊約
    %p 在出埃及記34:18 「要守除酵節。你要遵照我的吩咐，在亞筆月吃無酵餅，一連七天，因為你是在亞筆月離開埃及的。
    %p 想請問的是亞筆月的算法與現今的月份算法有何不同?
    %p 先謝謝各位的解答!
    .text-center
      %p
        .badge 埃及
        .badge 月份
        .badge 亞筆月
        .badge 無酵餅
        .badge 出埃及
    %hr
      .text-center
        %img.img-avatar(src="http://v.taiwanbible.com/taiwanbible/main/image.jsp?FileName=20090613-1244901658094.jpg&Size=150")
        %h3.user Chi
    %small
      %p.text-center 發問日期: 2009/05/28
    %hr
    %small
      %p.text-right 目前狀態: 已有人解答
      %p.text-right 最後回答日期 2009/05/29

  %hr
  .paper.paper-white.paper-curl
    %img.img-avatar.pull-right(src="http://www.taiwanbible.com/web/main/2.gif")
    %small
    %h3 wiki
    %hr
    %p 亞筆月(被擄歸回後稱為尼散月)﹐是猶太人宗教年的第一個月﹑民事年的第七個月﹐記念大麥初熟﹐約在西曆三﹑四月。
    %small
      %p.text-right 回答日期 : 2009/05/29

  .paper.paper-white.paper-curl
    %img.img-avatar.pull-right(src="http://v.taiwanbible.com/taiwanbible/main/image.jsp?FileName=20110903-1315037245979.GIF&Size=150")
    %h3 楓
    %hr
    %p
      :markdown
        平安！
        看您的題目「請問亞筆月的意思?」
        我就從「亞筆」這個字的原文來看

        亞筆，原文是HB024 abiyb {aw-beeb}

        字根已不使用 (意為變柔軟); TWOT - 1b; 陽性名詞

        欽定本 - Abib 6, in the ear 1, green ears of corn 1; 8

        1) 初熟清嫩的大麥穀穗
        2) 穀穗形成的月份, 未熟的穀物的月份,或亞筆月,出埃及逾越節的月份 (三或四月)

        中文聖經除了配搭月份，翻譯成「亞筆」月之外
        還有兩個詞也是用這個字
        --那時，麻和大麥被雹擊打；因為大麥已經「吐穗」，麻也開了花--出九31
        --若向耶和華獻初熟之物為素祭，要獻上烘了的「禾穗子」，就是軋了的新穗子，當作初熟之物的素祭--利二14

        提供您參考

      上帝祝福您！
    %small
      %p.text-right 回答日期 : 2009/05/29
