- content_for(:title, '聖經知識庫')
- content_for(:bodyClass, 'scrollToContent')

.text-center
  .btn-group
    %a.btn.btn-info.btn-lg.active(href="wiki.html") 聖經知識庫
    %a.btn.btn-info.btn-lg(href="qa.html") 福音 Q&A

%hr

#wiki
  .paper.paper-white.paper-curl
    %h2 請問亞筆月的意思?
    %p.badge.alert-success 聖經新舊約
    .text-center
      %a(href="#")
        %img.img-avatar(src="http://v.taiwanbible.com/taiwanbible/main/image.jsp?FileName=20090613-1244901658094.jpg&Size=150")
      %h3.user
        %a(href="#") Chi
    %p
      :markdown
        在出埃及記34:18 「要守除酵節。你要遵照我的吩咐，在亞筆月吃無酵餅，一連七天，因為你是在亞筆月離開埃及的。

        想請問的是亞筆月的算法與現今的月份算法有何不同?

        先謝謝各位的解答!
    %hr
    .text-center
      %p
        .badge 埃及
        .badge 月份
        .badge 亞筆月
        .badge 無酵餅
        .badge 出埃及
    %hr
    %small
      .text-right 目前狀態: 已有人解答
      .text-right 最後回答日期 2009/05/29

  %hr
  .paper.paper-ribbon
    .ribbon
      %span 最佳解答
    %a(href="#")
      %img.img-avatar.pull-right(src="http://www.taiwanbible.com/web/main/2.gif")
    %small
    %h3
      %a(href="#") wiki
      的回答：
    %hr
    %p 亞筆月(被擄歸回後稱為尼散月)﹐是猶太人宗教年的第一個月﹑民事年的第七個月﹐記念大麥初熟﹐約在西曆三﹑四月。
    %small
      .text-right 回答日期 : 2009/05/29

    .ctrl
      %a.btn.btn-success +13
      %a.btn.btn-default 檢舉

  .paper.paper-white.paper-curl
    %a(href="#")
      %img.img-avatar.pull-right(src="http://v.taiwanbible.com/taiwanbible/main/image.jsp?FileName=20110903-1315037245979.GIF&Size=150")
    %h3
      %a(href="#") 楓
      的回答：
    %hr
    %p
      :markdown
        平安！
        看您的題目「請問亞筆月的意思?」
        我就從「亞筆」這個字的原文來看

        亞筆，原文是HB024 abiyb {aw-beeb}

        字根已不使用 (意為變柔軟); TWOT - 1b; 陽性名詞

        欽定本 - Abib 6, in the ear 1, green ears of corn 1; 8

        1) 初熟清嫩的大麥穀穗
        2) 穀穗形成的月份, 未熟的穀物的月份,或亞筆月,出埃及逾越節的月份 (三或四月)

        中文聖經除了配搭月份，翻譯成「亞筆」月之外
        還有兩個詞也是用這個字
        --那時，麻和大麥被雹擊打；因為大麥已經「吐穗」，麻也開了花--出九31
        --若向耶和華獻初熟之物為素祭，要獻上烘了的「禾穗子」，就是軋了的新穗子，當作初熟之物的素祭--利二14

        提供您參考

      上帝祝福您！
    %small
      .text-right 回答日期 : 2009/05/29

    .ctrl
      %a.btn.btn-success +10
      %a.btn.btn-default 檢舉


  %h2.text-center 網友評論

  %h3.text-center
    .label.label-info 發表評論或留言
  %textarea.form-control(rows="5")
  %a.btn.btn-primary.btn-lg.btn-block 送出
  %hr
  .comment.panel.panel-default
    %h2
      %a(href="#") 楓
      說：
    %p
    :markdown
      看了一下之前的回應
      所謂「“是中國人農曆七月”」
      意思是，這是在中國人農曆的七月

      就像其他的月份
      分享者也是說「西弗月…是中國人農曆八月」，或「以祿月…是中國人農曆十二月」

      而不是說，這個就像是中國人農曆七月，所謂的鬼月

      在不同意之前，還是看清楚一下對方分享的內容吧！
    %small
      .text-right 2009/05/29

  .comment.panel.panel-default
    %h2
      %a(href="#") wiki
      說：
    %p
      :markdown
        謝謝楓姊妹對亞筆一詞的解釋。

        讓我澄清我的意思。西曆的四月應該是農曆的二﹑三月﹐不可能是 "中國人農曆七月" ﹐農曆七月是相對西曆的八﹑九月。

        我猜想是‘翻譯’的錯誤。有說民事年在先﹐以色列為記念神的救贖﹐把民事年的第七個月作宗教年的第一個月。民事年成為猶太人的“舊曆”﹐宗教年是“新曆”。但把猶太人的“舊曆”當作中國人的“舊曆”便出了問題。
    %small
      .text-right 2009/05/29

  .comment.panel.panel-default
    %h2
      %a(href="#") Chi
      說：
    %p
      :markdown
        非常謝謝楓與wiki的解答
    %small
      .text-right 2009/05/29
