- content_for(:title, '福音 Q&A')
- content_for(:bodyClass, 'scrollToContent')

.text-center
  .btn-group
    %a.btn.btn-info.btn-lg(href="wiki.html") 聖經知識庫
    %a.btn.btn-info.btn-lg.active(href="qa.html") 福音 Q&A

%hr

#wiki
  .qa.paper.paper-white.paper-curl
    %h2 能否用簡單幾句話，告訴我基督教的核心信仰是什麼？
    %p 神愛我們，所以創造了我們。但是人因為犯了罪，與神隔離。為此神差派了祂的獨生子耶穌，來到這個世界上，釘死在十字架上，擔當了人的罪。 世人也就可以因著接受耶穌基督的救恩，得與神和好。
    %hr
    .qa-link
      %span.badge.alert-info 知識庫參考
      %ul
        %li
          %a(href="#")
            誰能告訴我基督教的核心信仰是什麼？

  .qa.paper.paper-white.paper-curl
    %h2 我要如何接受耶穌呢？要如何才能成為一個基督徒呢？
    %p 聖經上說，只要口裡承認耶穌為主 ，心裡信神叫祂從死裡復活，擔當了我們的罪，就是所謂的「決志」。 也就是您所說的「接受」主耶穌了！
    %hr
    .qa-link
      %span.badge.alert-info 知識庫參考
      %ul
        %li
          %a(href="#")
            我要如何接受耶穌呢？要如何才能成為一個基督徒呢？
        %li
          %a(href="#")
            基督徒的定義？
        %li
          %a(href="#")
            請問我要如何確實知道自己是否已經得救？

  .qa.paper.paper-white.paper-curl
    %h2 我要如何跟神禱告? 需要透過牧師嗎? 禱告完一定要說「阿們」嗎？
    %p 禱告就是跟主說話，我們無時無刻，在任何地方都可以跟神禱告。 禱告也沒有任何特別的形式，只要把你心裡最真心的話跟神說，就是一個好的禱告。 而「阿們」，不是結尾的語助詞，而是表明，以上我的禱告，都是我誠心所願的。也就是您所說的「接受」主耶穌了！
    %hr
    .qa-link
      %span.badge.alert-info 知識庫參考
      %ul
        %li
          %a(href="#")
            我要如何跟神禱告？需要透過牧師嗎？禱告完一定要說「阿們」嗎？
        %li
          %a(href="#")
            基督教飯前禱告詞通常是？
        %li
          %a(href="#")
            我可以在哪裡禱告？
