- content_for(:title, '福音 Q&A')
- content_for(:bodyClass, 'scrollToContent')

.text-center
  .btn-group
    %a.btn.btn-info.btn-lg(href="wiki.html") 聖經知識庫
    %a.btn.btn-info.btn-lg.active(href="qa.html") 福音 Q&A

%hr

#wiki
  .qa.paper.paper-white.paper-curl
    %h2 能否用簡單幾句話，告訴我基督教的核心信仰是什麼？
    %p 神愛我們，所以創造了我們。但是人因為犯了罪，與神隔離。為此神差派了祂的獨生子耶穌，來到這個世界上，釘死在十字架上，擔當了人的罪。 世人也就可以因著接受耶穌基督的救恩，得與神和好。
    %hr
    .qa-link
      %span.badge.alert-info 知識庫參考
      %ul
        %li
          %a(href="#")
            誰能告訴我基督教的核心信仰是什麼？

  .qa.paper.paper-white.paper-curl
    %h2 我要如何接受耶穌呢？要如何才能成為一個基督徒呢？
    %p 聖經上說，只要口裡承認耶穌為主 ，心裡信神叫祂從死裡復活，擔當了我們的罪，就是所謂的「決志」。 也就是您所說的「接受」主耶穌了！
    %hr
    .qa-link
      %span.badge.alert-info 知識庫參考
      %ul
        %li
          %a(href="#")
            我要如何接受耶穌呢？要如何才能成為一個基督徒呢？
        %li
          %a(href="#")
            基督徒的定義？
        %li
          %a(href="#")
            請問我要如何確實知道自己是否已經得救？

  .qa.paper.paper-white.paper-curl
    %h2 我要如何跟神禱告? 需要透過牧師嗎? 禱告完一定要說「阿們」嗎？
    %p 禱告就是跟主說話，我們無時無刻，在任何地方都可以跟神禱告。 禱告也沒有任何特別的形式，只要把你心裡最真心的話跟神說，就是一個好的禱告。 而「阿們」，不是結尾的語助詞，而是表明，以上我的禱告，都是我誠心所願的。也就是您所說的「接受」主耶穌了！
    %hr
    .qa-link
      %span.badge.alert-info 知識庫參考
      %ul
        %li
          %a(href="#")
            我要如何跟神禱告？需要透過牧師嗎？禱告完一定要說「阿們」嗎？
        %li
          %a(href="#")
            基督教飯前禱告詞通常是？
        %li
          %a(href="#")
            我可以在哪裡禱告？

  .qa.paper.paper-white.paper-curl
    %h2 我從來不做違法的事，為什麼我是一個罪人?
    %p 在人的國度中沒有違法，但在神絕對公義的標準下，我們還是犯了罪的。 這些罪像是: 貪心、忌妒、說謊、甚至看到有需要的人，我們卻冷漠以待，這些在神眼中都是罪。 所以我們都是罪人。
    %hr
    .qa-link
      %span.badge.alert-info 知識庫參考
      %ul
        %li
          %a(href="#")
            我從來不做違法的事，為什麼我是一個罪人?
        %li
          %a(href="#")
            人人都有罪？

  .qa.paper.paper-white.paper-curl
    %h2 世界上只有一個神嗎? 我可不可以又信耶穌，又保留我原來所祭拜的神?
    %p 是的，真理只有一個。一個真正的信仰是不會容許信靠者再去追求或信仰其他宗教的。 如果你相信耶穌，那就不應該再去祭拜其他的神。 聖經上也講得很明白: 『耶穌說:「我就是道路、真理、生命；若不藉著我，沒有人能到父那裡去。」
    %hr
    .qa-link
      %span.badge.alert-info 知識庫參考
      %ul
        %li
          %a(href="#")
            世界上只有一個神嗎? 我可不可以又信耶穌，又保留我原來所祭拜的神?

  .qa.paper.paper-white.paper-curl
    %h2 基督徒除了禮拜天要去教堂，還有沒有甚麼規定要遵守啊?
    %p 星期天去教會的目的，並非是規定，而是讓我們可以享受在神面前的安息。新約裡耶穌告訴我們:：「你要盡心、盡性、盡意愛主─你的　神。 這是誡命中的第一，且是最大的。其次也相倣，就是要愛人如己。 這兩條誡命是律法和先知一切道理的總綱。」
    %hr
    .qa-link
      %span.badge.alert-info 知識庫參考
      %ul
        %li
          %a(href="#")
            基督徒除了禮拜天要去教堂，還有沒有甚麼規定要遵守啊?

  .qa.paper.paper-white.paper-curl
    %h2 為什麼基督徒都互稱「弟兄姊妹」?
    %p 因為我們都是神的兒女，所以在主裡面，都是一家人!
    %hr
    .qa-link
      %span.badge.alert-info 知識庫參考
      %ul
        %li
          %a(href="#")
            為什麼基督徒都互稱「弟兄姊妹」?
        %li
          %a(href="#")
            為什麼基督徒打招呼都說平安?

  .qa.paper.paper-white.paper-curl
    %h2 聖經是什麼? 只有一本聖經嗎?
    %p 聖經為上帝的話語，是神要啟示給世人看的，由聖靈所默示寫成。提摩太後書裡有說到:聖經都是神所默示的，於教訓、督責、使人歸正、教導人學義都是有益的， 叫屬神的人得以完全，預備行各樣的善事。 基本上只有一本聖經，但有各種不同的翻譯本，中文譯本有：合和本、呂振中譯本、現代中文譯本，還有天主教的思高譯本等
    %hr
    .qa-link
      %span.badge.alert-info 知識庫參考
      %ul
        %li
          %a(href="#")
            聖經是什麼? 只有一本聖經嗎?
        %li
          %a(href="#")
            舊約與新約
        %li
          %a(href="#")
            聖經的可信性

  .qa.paper.paper-white.paper-curl
    %h2 如果我信了耶穌，那我該怎麼面對那些還未信的家人跟朋友?
    %p 用正常的心去面對啊! 你應該成為你親友們的見證，讓他們看出你信主前跟信主後的改變。當然最重要的是你應該為他們禱告，希望耶穌基督的救恩，也可以很快的臨到他們!
    %hr
    .qa-link
      %span.badge.alert-info 知識庫參考
      %ul
        %li
          %a(href="#")
            如果我信了耶穌，那我該怎麼面對那些還未信的家人跟朋友?
        %li
          %a(href="#")
            想帶領家人去教會

  .qa.paper.paper-white.paper-curl
    %h2 信了耶穌後是不是就不會再有苦難的發生呢? 我會得到甚麼呢?
    %p 信了主還是會有苦難，還是會有病痛。神會藉著苦難，來教導我們，也訓練我們。可是我們基督徒所得到最大的恩典是，我們在苦難中有盼望，在基督裡有平安!
    %hr
    .qa-link
      %span.badge.alert-info 知識庫參考
      %ul
        %li
          %a(href="#")
            信了耶穌後是不是就不會再有苦難的發生嗎? 我會得到甚麼呢?
        %li
          %a(href="#")
            聖經哪些部分有談到苦難疾病的成因?

  .qa.paper.paper-white.paper-curl
    %h2 受洗的意義是什麼? 基督徒一定要受洗嗎?
    %p 受洗是一個公開的儀式，為表明受洗者的心，從受洗這一天開始學習過與基督同死、同埋、同復活的生命，脫離過去不認識主的生活。雖然受洗並不是進天國的條件，但是基督徒應該要接受洗禮，來 向神及人宣告你已成為一個基督徒。
    %hr
    .qa-link
      %span.badge.alert-info 知識庫參考
      %ul
        %li
          %a(href="#")
            受洗的意義是什麼? 基督徒一定要受洗嗎?
        %li
          %a(href="#")
            浸禮（洗禮）的意義是甚麼？
        %li
          %a(href="#")
            受洗與得救

  .qa.paper.paper-white.paper-curl
    %h2 我每週都有去教會，也有讀聖經，但是神還是沒有對我說話?
    %p 神說話的方式有很多種，最平常的，就是透過聖經的經文，向我們顯明祂的心意。 神也會用詩歌，在我們最需要時，從我們的心裡湧出一首詩歌， 成為我們的幫助。 當然神也會透過我們身邊的弟兄姊妹，把祂的安慰帶到我們身旁。想要更多的與神對話嗎? 多讀經、多禱告、多唱詩歌，也多跟弟兄姊妹團契。打開你心靈來跟祂禱告時，祂的話語就會常在我們身旁!
    %hr
    .qa-link
      %span.badge.alert-info 知識庫參考
      %ul
        %li
          %a(href="#")
            我每週都有去教會，也有讀聖經，但是神還是沒有對我說話?
        %li
          %a(href="#")
            也許耶穌是真的，可是我感受不到他的存在，我該怎麼辦?
        %li
          %a(href="#")
            神如何與人溝通?
