- content_for(:title, '聖經知識庫')
- content_for(:bodyClass, 'scrollToContent')

.text-center
  .btn-group
    %a.btn.btn-info.btn-lg.active(href="wiki.html") 聖經知識庫
    %a.btn.btn-info.btn-lg(href="qa.html") 福音 Q&A

%hr

#wiki
  .paper.paper-white.paper-curl
    %h2 歡迎光臨台灣聖經網聖經知識庫
    %p 我們在這裡希望結合眾人的力量，一起來豐富大家對基督教及聖經的知識。
    %p 請注意! 本知識庫類似維基模式，知識內容由網友自行發佈，我們並無法保證一定正確或符合基督教信仰，請在使用時小心求證。
  %h3.text-center
    .cat.label.label-info 目前知識庫裡共包含了
    .cat.label.label-warning 6,010 條知識
    .cat.label.label-primary 以及
    .cat.label.label-success 19,119 條解答

  .anno.panel.panel-default
    %h2 系統公告
    %p 為了鼓勵大家認真回答知識庫的問題，即日起開啟【最佳解答】制度。凡是獲得最多人評價讚的解答，將會被標示為最佳解答。同時間解答問題，除了本身會獲得的三點靈糧點數外，每一個投票，解答者將會額外獲得兩點的靈糧點數。點數沒有上限! 也歡迎大家針對好的解答，不吝給予一個肯定，多多參與票選!
  %hr
  .anno.panel.panel-default
    %h2.text-center 知識分類
    %p.text-center
      %a.cat.badge.alert-success(href="#") 基督教教義
      %a.cat.badge.alert-success(href="#") 聖經新舊約
      %a.cat.badge.alert-success(href="#") 歷史、節慶
      %a.cat.badge.alert-success(href="#") 個人靈修
      %a.cat.badge.alert-success(href="#") 教會、機構
      %a.cat.badge.alert-success(href="#") 個人心理
      %a.cat.badge.alert-success(href="#") 其他宗教
      %a.cat.badge.alert-success(href="#") 其他問題

  .qa.paper.paper-white
    %h2 隨機知識
    %hr
    .qa-link
      %ul
        %li
          %a(href="detail.html") 請問亞筆月的意思?
          .badge.alert-success 聖經新舊約
          .badge.alert-info 2 回答
          .badge.alert-warning 3 評論
        %li
          %a(href="#") 最近因弟兄姐妹的矛盾如何化解？
          .badge.alert-success 基督教教義
          .badge.alert-info 3 回答
          .badge.alert-warning 3 評論
        %li
          %a(href="#") 浸禮（洗禮）的意義是甚麼？
          .badge.alert-success 基督教教義
          .badge.alert-info 3 回答
          .badge.alert-warning 1 評論
        %li
          %a(href="#") 不明白意思
          .badge.alert-success 基督教教義
          .badge.alert-info 2 回答
          .badge.alert-warning 1 評論
        %li
          %a(href="#") 【福音專區問題】為什麼基督徒都互稱「弟兄姊妹」?
          .badge.alert-success 基督教教義
          .badge.alert-info 6 回答
          .badge.alert-warning 1 評論

  .qa.paper.paper-white
    %h2 最新發問的知識
    %hr
    .qa-link
      %ul
        %li
          %a(href="#") 分解上帝的道
          .badge.alert-success 基督教教義
          .badge.alert-info 0 回答
          .badge.alert-warning 0 評論
        %li
          %a(href="#") 學青問題
          .badge.alert-success 其他問題
          .badge.alert-info 0 回答
          .badge.alert-warning 0 評論
        %li
          %a(href="#") 144、153、666這些數目字有什麼特別意義嗎?
          .badge.alert-success 基督教教義
          .badge.alert-info 0 回答
          .badge.alert-warning 0 評論
        %li
          %a(href="#") 羅馬書裡的疑問 (羅5:13)
          .badge.alert-success 聖經新舊約
          .badge.alert-info 1 回答
          .badge.alert-warning 0 評論
        %li
          %a(href="#") 實情真相?
          .badge.alert-success 聖經新舊約
          .badge.alert-info 1 回答
          .badge.alert-warning 0 評論
        %li
          %a(href="#") 此章的省思?
          .badge.alert-success 聖經新舊約
          .badge.alert-info 2 回答
          .badge.alert-warning 1 評論
        %li
          %a(href="#") "最美麗的路" 的琴譜
          .badge.alert-success 詩歌、個人靈修
          .badge.alert-info 1 回答
          .badge.alert-warning 0 評論

  .qa.paper.paper-white
    %h2 最新產生的知識
    %hr
    .qa-link
      %ul
        %li
          %a(href="#") 以巴衝突
          .badge.alert-success 其他宗教相關
          .badge.alert-info 1 回答
          .badge.alert-warning 0 評論
        %li
          %a(href="#") 主滿教會是怎樣的教會?
          .badge.alert-success 教會、基督教機構
          .badge.alert-info 2 回答
          .badge.alert-warning 0 評論
        %li
          %a(href="#") 基督徒結婚是否一定要到教堂讓牧師宣誓才算結婚
          .badge.alert-success 基督教教義
          .badge.alert-info 2 回答
          .badge.alert-warning 0 評論
        %li
          %a(href="#") 婚姻受到反對該怎麼辦？
          .badge.alert-success 個人心理
          .badge.alert-info 2 回答
          .badge.alert-warning 2 評論
        %li
          %a(href="#") 如何恰當稱呼“已出家“的家人？
          .badge.alert-success 歷史、節慶、習俗
          .badge.alert-info 3 回答
          .badge.alert-warning 0 評論
        %li
          %a(href="#") 路加福音三章
          .badge.alert-success 基督教教義
          .badge.alert-info 1 回答
          .badge.alert-warning 0 評論
        %li
          %a(href="#") 何謂五餅2魚?
          .badge.alert-success 基督教教義
          .badge.alert-info 4 回答
          .badge.alert-warning 0 評論
        %li
          %a(href="#") 讀6/29復興報的疑問
          .badge.alert-success 其他問題
          .badge.alert-info 1 回答
          .badge.alert-warning 0 評論
        %li
          %a(href="#") 聖經教導不允許吃的食物？新，舊約的出處.
          .badge.alert-success 聖經新舊約
          .badge.alert-info 1 回答
          .badge.alert-warning 0 評論
        %li
          %a(href="#") 請問是否有這種版本的聖經網站
          .badge.alert-success 基督教教義
          .badge.alert-info 2 回答
          .badge.alert-warning 0 評論
