- content_for(:title, '聯絡我們')
- content_for(:bodyClass, 'scrollToContent')

#about
  .panel.panel-default
    .panel-heading.text-center
      關於中華基督教網路發展協會
    .panel-body
      .text-center
        %a.text-center(href="http://www.ccnda.org")
          %img(src="http://www.ccnda.org/sites/default/files/garland_logo.png")
      %table.table.table-condensed
        %tbody
          %tr
            %td.active 全名：社團法人中華基督教網路發展協會
          %tr
            %td Chinese Christian Network Development Association (CCNDA)
          %tr
            %td 正式成立日期：2009 年 11 月 1 日
          %tr
            %td 立案字號：本會經內政部台內社字第0980213297號核准立案
          %tr
            %td 統一編號：34805786
          %tr
            %td 協會異象：連結 & 分享 Linking & Sharing
          %tr
            %td.warning 詩篇19:4: 他的量帶通遍天下，他的言語傳到地極
          %tr
            %td 理事長：夏善明 姊妹
          %tr
            %td 秘書長：王獻宗 弟兄
          %tr
            %td 區城辦公室：100台北市中正區羅斯福路三段210巷6號2樓
          %tr
            %td 電話：02-2367-7622
          %tr
            %td 傳真：02-2367-2695
          %tr
            %td
              官方電郵：
              %a(href="mailto:info@ccnda.org") info@ccnda.org
          %tr
            %td.info
              臉書粉絲團：
              %a(href="http://www.facebook.com/CCNDA") http://www.facebook.com/CCNDA
