// Mobile

.panel-default {
  border: 1px solid $twb-main;
  h4 > a {
    color: $twb-blue;
  }
  .panel-heading {
    border: none;
    @include background( linear-gradient(top, rgba($twb-white, 1), rgba($twb-sub, 1)) );

    &.active {
      @include background( linear-gradient(top, rgba($twb-main, 1), rgba($twb-sub, 1), rgba($twb-white, .5)) );
    }
  }

  /*.tab-content {
    background: rgba($twb-white, .5);
    border: 1px solid $twb-main;
  }*/

  .panel-heading + .panel-collapse > .panel-body {
    background: rgba($twb-light, .5);
    border-top: none;
    .img-thumbnail {
      padding: 5px;
      margin: 0 10px 10px 0;
    }
  }
}

.panel-heading .accordion-toggle:after {
  font-family: FontAwesome;
  content: "\f107";
  float: right;
  color: $twb-blue;
}

.panel-heading .accordion-toggle.collapsed:after {
  font-family: FontAwesome;
  content: "\f105";
  float: right;
  color: $twb-blue;
}

// Desktop

.nav-tabs {
  border-bottom: none;
  li {
    a {
      @include font-size(24px);
      @include background( linear-gradient(top, rgba($twb-main, 1), rgba($twb-sub, 1), rgba($twb-white, .5)) );
    }
    a:hover, a:focus {
      color: $twb-blue;
      border: none;
    }
    &.active {
      a {
        font-weight: bold;
        color: $twb-blue;
        border: none;
        border-bottom: 1px solid rgba($twb-white, 1);
      }
      a:hover, a:focus {
        color: $twb-blue;
        border: 1px solid rgba($twb-white, .5);
        border-bottom: 1px solid rgba($twb-white, .5);
        @include background( linear-gradient(top, rgba($twb-main, 1), rgba($twb-sub, 1), rgba($twb-white, .5)) );
      }
    }
  }
}

.tab-content {
  background: rgba($twb-white, .5);
  border: 1px solid $twb-main;
  margin-bottom: 24px;

  .img-thumbnail {
    padding: 5px;
    margin: 0 0 10px 10px;
    max-height: 160px;
  }
}
