
.nav-tabs {
  border-bottom: 2px solid rgba($twb-green, .3);
}

.nav-tabs > li {
  margin-bottom: -2px;
}

.panel-default > .panel-heading {
  background-color: rgba($twb-light, .5);
}

.panel-default > .panel-heading + .panel-collapse > .panel-body {
  background-color: rgba($twb-light, .5);
  border-top: 2px solid rgba($twb-green, .3);
}

