.jumbotron {
  margin-bottom: 0;

  background: none;
  @include background( linear-gradient(top, rgba($twb-main, 1), rgba($twb-main, .8), rgba($twb-sub, 1)) );

  h1 {
    @include font-size(56px);
    letter-spacing: 10px;
    margin: 0;
    padding: 0;
    color: $twb-white;
    @include text-shadow(rgba($twb-shadow, .3) 2px 2px 0, rgba($twb-shadow, .3) 1px 1px 0, rgba($twb-shadow, .3) 1px 1px 0);
    margin-top: 8px;
  }

  .twb-header {
    text-align: center;
  }

  .twb-title {
    margin-top: -28px;
  }

  .twb-http {
    color: rgba($twb-blue, .5);
    margin-top: -20px;
    @include font-size(24px);
  }

  .twb-donate {
    margin-top: 15px;
    margin-bottom: 15px;
  }
}

.jumbotron > form[role='search'] {
  @include susy-breakpoint($desktop-bp, $desktop) {
    margin: 0 auto;
    width: 42%;
  }
}



