.material-read {
  h2 {
    @include font-size(32px);
  }

  p.author {
    text-align: center;
    @include font-size(24px);
  }

  p.date {
    color: $twb-shadow;
    text-align: right;
    @include font-size(24px);
  }

  .readable {
    line-height: 2.1;
  }

  text-align: center;
  @include column-count(1);

  &.two-line {
    @include susy-breakpoint($wide-desktop-bp, $wide-desktop) {
      @include column-count(2);
    }
  }

  .twb-box {
    width: 100%;
    display: inline-flex;
    @include column-break-inside(avoid);
    text-align: left;
    margin: 0 auto;
  }

  .panel {
    width: 100%;
  }

  .panel-img {
    overflow: hidden;
    text-align: center;
    .origin {
      z-index: 2;
      float: right;
      position: relative;
      top: 0;
      right: 0;
      background: rgba($twb-heavily, .5);
      padding: 5px;
      color: $twb-white;
      text-align: center;
      @include font-size(22px);
    }
    .imgbox {
      z-index: 1;
      position: relative;
      img {
        width: 100%;
        margin-top: -120px;
        display: inline-block;
        vertical-align: middle;
      }
    }
  }

  .panel-body {
    @include font-size(28px);
    line-height: 2.1;
  }

  .panel-btn {
    .btn {
      border-radius: 0;
      border: none;
    }
  }

  @include susy-breakpoint($desktop-bp, $desktop) {
    .paper {
      padding: 42px !important;
    }
  }

}
