.material-read {
  h2 {
    @include font-size(32px);
  }

  p.author {
    text-align: center;
    @include font-size(24px);
  }

  p.date {
    color: $twb-shadow;
    text-align: right;
    @include font-size(24px);
  }

  .readable {
    line-height: 2.1;
  }

  text-align: center;
  @include column-count(1);

  &.two-line {
    @include susy-breakpoint($wide-desktop-bp, $wide-desktop) {
      @include column-count(2);
    }
  }

  .twb-box {
    width: 100%;
    display: inline-flex;
    @include column-break-inside(avoid);
    text-align: left;
    margin: 0 auto;
  }

  .panel {
    width: 100%;
  }

  .panel-img {
    overflow: hidden;
    text-align: center;
  }

  .panel-body {
    @include font-size(28px);
    line-height: 2.1;
  }

  .panel-btn {
    .btn {
      border-radius: 0;
      border: none;
    }
  }

  @include susy-breakpoint($desktop-bp, $desktop) {
    .paper {
      padding: 42px !important;
    }
  }

}
