article.news {
  padding: 12px;

  p {
    @include font-size(26px);
    line-height: 2.1;
    margin: 12px;
  }

  .img-box {
    position: relative;
    max-height: 180px;
    overflow: hidden;
    img {
      padding: 5px;
      width: 100%;
      margin-top: -120px;
      display: inline-block;
      vertical-align: middle;
    }
  }

}

.nav > li > a:hover, .nav > li > a:focus {
  color: rgba($twb-blue, .9);
  background: rgba($twb-sub, .8);
}

#news-list {
  .panel {
    margin-bottom: 10px;
  }
}

#sponsor {
  @include font-size(27px);
  line-height: 2.1;
}
