.toogle {
  top: 12px;
  z-index: 32767;
  position: fixed;
  @include inline-block;

  a, a:active, a:hover {
    @include font-size(42px);
    color: rgba($twb-blue, .8);

    @include breakpoint($tablet-bp) {
      @include font-size(64px);
    }
  }

  a:focus {
    color: rgba($twb-green, .5);
  }

  a.btn.btn-default {
    border: none;
    border-radius: 0;
    background: rgba($twb-white, .5);
  }
  &.left {
    left: 0;
    a.btn.btn-default {
      border-top-right-radius: 12px;
      border-bottom-right-radius: 12px;
    }
  }
  &.right {
    right: 0;
    a.btn.btn-default {
      border-top-left-radius: 12px;
      border-bottom-left-radius: 12px;
    }
  }

}
