.list-group.books
  %a.list-group-item(href="book.html")
    %span.badge 50 章
    創世記
  %a.list-group-item(href="#")
    %span.badge 40 章
    出埃及記
  %a.list-group-item(href="#")
    %span.badge 27 章
    利未記
  %a.list-group-item(href="#")
    %span.badge 36 章
    民數記
  %a.list-group-item(href="#")
    %span.badge 34 章
    申命記
  %a.list-group-item(href="#")
    %span.badge 24 章
    約書亞記
  %a.list-group-item(href="#")
    %span.badge 21 章
    士師記
  %a.list-group-item(href="#")
    %span.badge 4 章
    路得記
  %a.list-group-item(href="#")
    %span.badge 31 章
    撒母耳記上
  %a.list-group-item(href="#")
    %span.badge 24 章
    撒母耳記下
  %a.list-group-item(href="#")
    %span.badge 22 章
    列王記上
  %a.list-group-item(href="#")
    %span.badge 25 章
    列王記下
  %a.list-group-item(href="#")
    %span.badge 29 章
    歷代志上
  %a.list-group-item(href="#")
    %span.badge 36 章
    歷代志下
  %a.list-group-item(href="#")
    %span.badge 10 章
    以斯拉記
  %a.list-group-item(href="#")
    %span.badge 13 章
    尼希米記
  %a.list-group-item(href="#")
    %span.badge 10 章
    以斯帖記
  %a.list-group-item(href="#")
    %span.badge 42 章
    約伯記
  %a.list-group-item(href="#")
    %span.badge 150 章
    詩篇
  %a.list-group-item(href="#")
    %span.badge 31 章
    箴言
  %a.list-group-item(href="#")
    %span.badge 12 章
    傳道書
  %a.list-group-item(href="#")
    %span.badge 8 章
    雅歌
  %a.list-group-item(href="#")
    %span.badge 66 章
    以賽亞書
  %a.list-group-item(href="#")
    %span.badge 52 章
    耶利米書
  %a.list-group-item(href="#")
    %span.badge 5 章
    耶利米哀歌
  %a.list-group-item(href="#")
    %span.badge 48 章
    以西結書
  %a.list-group-item(href="#")
    %span.badge 12 章
    但以理書
  %a.list-group-item(href="#")
    %span.badge 14 章
    何西阿書
  %a.list-group-item(href="#")
    %span.badge 3 章
    約珥書
  %a.list-group-item(href="#")
    %span.badge 9 章
    阿摩司書
  %a.list-group-item(href="#")
    %span.badge 1 章
    俄巴底亞書
  %a.list-group-item(href="#")
    %span.badge 4 章
    約拿書
  %a.list-group-item(href="#")
    %span.badge 7 章
    彌迦書
  %a.list-group-item(href="#")
    %span.badge 3 章
    那鴻書
  %a.list-group-item(href="#")
    %span.badge 3 章
    哈巴谷書
  %a.list-group-item(href="#")
    %span.badge 3 章
    西番雅書
  %a.list-group-item(href="#")
    %span.badge 2 章
    哈該書
  %a.list-group-item(href="#")
    %span.badge 14 章
    撒迦利亞書
  %a.list-group-item(href="#")
    %span.badge 4 章
    瑪拉基書
  %a.list-group-item(href="#")
    %span.badge 28 章
    馬太福音
  %a.list-group-item(href="#")
    %span.badge 16 章
    馬可福音
  %a.list-group-item(href="#")
    %span.badge 24 章
    路加福音
  %a.list-group-item(href="#")
    %span.badge 21 章
    約翰福音
  %a.list-group-item(href="#")
    %span.badge 28 章
    使徒行傳
  %a.list-group-item(href="#")
    %span.badge 16 章
    羅馬書
  %a.list-group-item(href="#")
    %span.badge 16 章
    哥林多前書
  %a.list-group-item(href="#")
    %span.badge 13 章
    哥林多後書
  %a.list-group-item(href="#")
    %span.badge 6 章
    加拉太書
  %a.list-group-item(href="#")
    %span.badge 6 章
    以弗所書
  %a.list-group-item(href="#")
    %span.badge 4 章
    腓立比書
  %a.list-group-item(href="#")
    %span.badge 4 章
    歌羅西書
  %a.list-group-item(href="#")
    %span.badge 5 章
    帖撒羅尼迦前書
  %a.list-group-item(href="#")
    %span.badge 3 章
    帖撒羅尼迦後書
  %a.list-group-item(href="#")
    %span.badge 6 章
    提摩太前書
  %a.list-group-item(href="#")
    %span.badge 4 章
    提摩太後書
  %a.list-group-item(href="#")
    %span.badge 3 章
    提多書
  %a.list-group-item(href="#")
    %span.badge 1 章
    腓利門書
  %a.list-group-item(href="#")
    %span.badge 13 章
    希伯來書
  %a.list-group-item(href="#")
    %span.badge 5 章
    雅各書
  %a.list-group-item(href="#")
    %span.badge 5 章
    彼得前書
  %a.list-group-item(href="#")
    %span.badge 3 章
    彼得後書
  %a.list-group-item(href="#")
    %span.badge 5 章
    約翰一書
  %a.list-group-item(href="#")
    %span.badge 1 章
    約翰二書
  %a.list-group-item(href="#")
    %span.badge 1 章
    約翰三書
  %a.list-group-item(href="#")
    %span.badge 1 章
    猶大書
  %a.list-group-item(href="#")
    %span.badge 22 章
    啟示錄
