%header.jumbotron
  .twb-header
    .twb-title
      %a(href='/')
        = image_tag "/img/logo/twbible.png"
      .twb-http TaiwanBible.com
    %h1 台灣聖經網
    .twb-donate
      .btn.btn-primary.btn-lg 參與奉獻
  %form(role="search")
    .input-group.input-group-lg
      %input.input.form-control(type="input" placeholder="聖經搜尋")
      %span.input-group-btn
        %button.btn.btn-warning(type="button") 搜尋
        %button.btn.btn-warning.dropdown-toggle(type="button" data-toggle="dropdown")
          %span.caret
          %span.sr-only Toggle Dropdown
        %ul.dropdown-menu(role="menu" lang="en")
          %li
            %a(href="#") 聖經
          %li
            %a(href="#") 知識
          %li
            %a(href="#") 辭典
          %li
            %a(href="#") 詩歌
          %li
            %a(href="#") 新聞
          %li
            %a(href="#") 網站
          %li
            %a(href="#") 好友
          %li.divider
          %li
            %a(href="#") 更多⋯





