%header.jumbotron
  .twb-header
    .twb-title
      %a(href='/')
        = image_tag "/img/logo/twbible.png"
      .twb-http TaiwanBible.com
    %h1 台灣聖經網
    .twb-donate
      %a.btn.btn-primary.btn-lg(href="http://devote.ccnda.org/") 參與奉獻
  %form#search(role="search")
    %input(type="hidden" name="area" value="bible")
    .input-group.input-group.input-group-lg
      %input.input.form-control(data-area="news" type="input" placeholder="")
      %span.input-group-btn
        %button.btn.btn-warning(type="button") 搜尋
        %button.btn.btn-warning.dropdown-toggle(type="button" data-toggle="dropdown")
          %span.caret
          %span.sr-only Toggle Dropdown
        %ul.dropdown-menu(role="menu" lang="en")
          %li
            %a(href="#" data-area="bible") 聖經
          %li
            %a(href="#" data-area="wiki") 知識
          %li
            %a(href="#" data-area="topic") 辭典
          %li
            %a(href="#" data-area="lyrics") 詩歌
          %li
            %a(href="#" data-area="news") 新聞
          %li
            %a(href="#" data-area="web") 網站
          %li
            %a(href="#" data-area="friend") 好友
          %li.divider
          %li
            %a(href="#") 更多⋯





