%aside.right(name="right")
  %ul.login-panel.paper.paper-white
    %h2.text-center 登入台灣聖經網
    %form(role="form")
      .form-group
        %input.form-control(name="username" type="email" placeholder="聖經網帳號")
      .form-group
        %input.form-control(name="password" type="password" placeholder="密碼")

      %button.btn.btn-primary.btn-lg.btn-block(type="submit") 登入

  %hr

  #imgroll-box
    %a(href="http://www.ccnda.org/tabernacle/")
      %img.img-responsive(src='/img/ad/20140408_335x150.gif')
