#mblog-new
  %h3.text-center
    .label.label-info 部落格選單
  %hr
  %ul.nav.nav-pills.nav-stacked
    %li
      %a.btn.btn-default(href="#") 分享快人快語
    %li
      %a.btn.btn-default(href="#") 分享生活分享
    %li
      %a.btn.btn-default(href="#") 分享愛秀圖片
    %li
      %a.btn.btn-default(href="#") 分享我心經句
