#mblog-nav
  %h3.text-center
    .label.label-info 全民塗鴉牆
  %hr
  %ul.nav.nav-pills.nav-stacked
    %li
      %a.btn.btn-type-1(href="#") 快人快語
    %li
      %a.btn.btn-type-2(href="#") 生活分享
    %li
      %a.btn.btn-type-3(href="#") 愛秀圖片
    %li
      %a.btn.btn-type-4(href="#") 我心經句
