#news-list
  .news-heading
    .panel.panel-default
      .panel-heading
        %a(href="read.html") 復刻印刷機新版開印！

  .news-heading
    .panel.panel-default
      .panel-heading
        %a(href="read.html") 聖公會青年舉行默禱會 遭保衛香港運動人士抗議

  .news-heading
    .panel.panel-default
      .panel-heading
        %a(href="read.html") 不做一行怨一行？研究：教會能幫你

  .news-heading
    .panel.panel-default
      .panel-heading
        %a(href="read.html") 馬航MH17遭飛彈擊落　肢體代禱願主安慰

  .news-heading
    .panel.panel-default
      .panel-heading
        %a(href="read.html") 兒盟：每年逾900孩童 尋找收養

  .news-heading
    .panel.panel-default
      .panel-heading
        %a(href="read.html") 哈馬斯德孤無鄰 前途茫茫

  .news-heading
    .panel.panel-default
      .panel-heading
        %a(href="read.html") 調查：許多非信徒相信聖經是神話語

  .news-heading
    .panel.panel-default
      .panel-heading
        %a(href="read.html") 墮胎非唯一選擇 可出養

  .news-heading
    .panel.panel-default
      .panel-heading
        %a(href="read.html") 跨世代傳承收養的愛 孟荷莉七口一

  .news-heading
    .panel.panel-info
      .panel-heading
        %a(href="read.html") 真愛與承諾! 愛諾園!

  .news-heading
    .panel.panel-info
      .panel-heading
        %a(href="read.html") 基督徒交友限定
