%aside.left(name="left")
  %a.btn.btn-primary.pull-right 登出
  #twb-nav
    %ul.nav.nav-pills.nav-stacked.first
      %li
        %a(href="/") 首頁
      %h2 靈修
      %li
        %a(href="/bible/bible.html") 聖經閱讀
      %li
        %a(href="/spirit/spirit.html") 靈修
      %li
        %a(href="/diary/diary.html") 日記
      %li
        %a(href="/topic/topic.html") 每日閱讀
      %li.hide
        %a(href="#") 查經
      %li
        %a(href="/daily_verse.html") 本日金句
      %h2 資訊
      %li
        %a(href="/news/news.html") 新聞
      %li.hide
        %a(href="#") 教會
      %li.hide
        %a(href="#") 詩歌
      %li
        %a(href="http://www.ccnda.org/tabernacle/index.html") 網路會幕
      %li.hide
        %a(href="#") 查經
    %ul.nav.nav-pills.nav-stacked.second
      %h2 社群
      %li.hide
        %a(href="#") 儀錶板
      %li.hide
        %a(href="#") 部落格
      %li.hide
        %a(href="#") 朋友
      %li
        %a(href="http://www.taiwanbible.com/web/loveuno.jsp") 交友
      %h2 知識
      %li.hide
        %a(href="#") 知識庫
      %li.hide
        %a(href="#") 主題辭典
      %li.hide
        %a(href="#") 每日一詞
      %h2 分享
      %li.hide
        %a(href="#") 禱告廣場
      %li.hide
        %a(href="#") 投票區
      %li.hide
        %a(href="#") 看圖說
      %li.hide
        %a(href="#") 文章
      %li.hide
        %a(href="#") 塗鴉牆
      %h2 遊戲
      %li.hide
        %a(href="#") 聖經書櫃
      %li
        %a(href="/games/quiz.html") 經頭腦
