.spirit-today
  .paper.paper-white
    %h3.text-center 本日經文
    %hr
    .text-center
      .btn-group-vertical
        %a.btn.btn-lg.btn-success(href="read.html") 創世紀第 1 章
        %a.btn.btn-lg.btn-info(href="read.html") 創世紀第 2 章
        %a.btn.btn-lg.btn-info(href="read.html") 約伯記第 2 章
        %a.btn.btn-lg.btn-info(href="read.html") 以賽亞書第 2 章
        %a.btn.btn-lg.btn-info(href="read.html") 馬太福音第 2 章

    %hr
    .text-center
      .btn.btn-lg.btn-primary 我已經完成
