%aside.right(name="right")
  %ul.user-panel
    %h2 歡迎回到台灣聖經網！
    %li 您目前的靈糧點數為 226
    %li 過去7天您有 1 則新留言
    %li 您有 0 本聖經書櫃的書尚未領取
    %li 您目前的靈修進度為: 一週五天，一年聖經熟讀計畫 (第1天)
    %li 在禱告廣場內共有 0 個人在替您的代禱事項禱告。
    %li 您在聖經網有 1 個好友， 另外有0 個人把你加成好友

  %ul.user-panel
    %h2 測試
    %li
      %a(href="#") 趕快簽個到，讓全世界都看到..
    %li
      %small 今天是今年的第 198 天，今年還剩下167 天

  #imgroll-box
    %a(href="#")
      %img.img-responsive(src='/img/ad/20140408_335x150.gif')
