%aside.right(name="right")
  %ul.user-panel
    %h2 歡迎回到台灣聖經網！
    %li
      您目前的靈糧點數為
      .badge.alert-info 226
    %li
      過去7天您有
      .badge.alert-danger 1
      則新留言
    %li
      您有
      .badge.alert-info 0
      本聖經書櫃的書尚未領取
    %li
      您目前的靈修進度為:
      .badge.alert-info 一週五天，一年聖經熟讀計畫
      .badge.alert-success 第 1 天
    %li
      在禱告廣場內共有
      .badge.alert-warning 0
      個人在替您的代禱事項禱告。
    %li
      您在聖經網有
      .badge.alert-success 1
      個好友， 另外有
      .badge.alert-success 0
      個人把你加成好友

  %ul.user-panel
    %h2 測試
    %li
      %a(href="#") 趕快簽個到，讓全世界都看到..
    %li
      %small 今天是今年的第 198 天，今年還剩下167 天

  #imgroll-box
    %a(href="http://www.ccnda.org/tabernacle/")
      %img.img-responsive(src='/img/ad/20140408_335x150.gif')
