#wiki-response
  %h3.text-center
    .label.label-info 我來回答
  %h4
    .label.label-info 您的答案
  %textarea.form-control(rows="12")
  %br
  %h4
    .label.label-info 參考資料
  %textarea.form-control(rows="5")
  %br
  %h4
    .label.label-info 參考連結
  %input.form-control(rows="1" value="http://")

  %hr
  %a.btn.btn-primary.btn-lg.btn-block 送出答案
