- content_for(:title, '錄取時他還沒發瘋-上')
- content_for(:bodyClass, 'scrollToContent')

#topic.material-read
  .paper.paper-white.paper-curl
    %h2 錄取時他還沒發瘋-上
    %p.author
      蘇老師時間
    .img-avatar
      %img.img-thumbnail(src="http://www.taiwanbible.com/web/bible/pastor3.jpg")
    %hr
      %p.readable
        :plain
          唐文宗時有位劉姓考生，中了狀元，立即向朝廷上萬言書，指責在朝權貴，獲罪下獄。朝中有大官質問考官，為何兒戲考政，錄取劉某這樣的瘋子。考官驚慌的解釋說：「錄取時，劉生尚未發瘋。」
          為甚麼中了狀元，就變成瘋子呢？
          由於劉生之無懼，向皇帝提萬言書彈劾他們，因此得罪了把持朝政的權貴，顯然是一位急功好義，愛國愛民的人。一旦自己取得發言機會，就毫無畏懼的提出批判與建言。我們可以很容易想到劉生的這種舉動，小則丟官，大則喪命，稱其為瘋子確不為過，不過這種好瘋子如果多一點，國家就有救了。
          小時候看過一部電影「陳世美不認前妻」，現在重播的「包青天」連續劇中，仍可看到這部戲。大意是說有個一貧如洗名叫陳世美的窮小子，在妻家的協助下，進京趕考中了狀元，對皇帝謊稱未娶妻，而成了駙馬爺。從此棄妻兒於不顧，當妻兒來京尋找他時，陳非旦不認原配妻子，亦不認自己的親生兒女，且派人追殺妻兒，企圖滅口。
          一個人中了狀元，不知感恩圖報，還要殺妻兒滅口，這不也是瘋子嗎？這種瘋子多了，大家不難想像，社會會變成甚麼樣子？
          中了狀元，我們可以把它想成是取得了權勢、財富一樣，有人在權勢上中了狀元，例如透過選舉當了總統、縣市長、民意代表或被任命為政務官，取得了權力，這時他可能變成瘋子，只是不知是哪種類型的瘋子。
          前衛生署長曾公開批評，台灣有三大害，分別是媒體、立法委員及監察委員。為甚麼這三個會變成三大害呢？因為這三者擁有權力，這些權力在手上，幾乎愛怎麼用就怎麼用，沒有約束力，沒有退場機制。
          人未擁有媒體或未擔任立委、監委時都很正常，可是一旦擁有這些權力後，不少人就會發瘋。美國林肯總統曾說，要試出一個人的真正品格，給他權力，意即多數人一旦擁有權力，品格就可能下降。因此有名言：「權力使人腐化，絕對的權力，絕對使人發瘋。」這句話也可以寫為：「權力使人變成瘋子，絕對的權力，絕對使人成為瘋子。」

  .paper.paper-white.paper-curve-vert
    %div
      %p.text-center
        %a(href="http://www.nokids.org.tw/index.php")
          %img.img-responsive(src="http://www.taiwanbible.com/web/bible/pastor3_4.jpg")
