- content_for(:title, '每日閱讀')

#topic.material-read
  .reading-box
    .panel.panel-default
      .panel-heading.fix
        .col-lg-3
          蘇老師時間
          .img-avatar
            %img(src="http://www.taiwanbible.com/web/bible/pastor3.jpg")
        .col-lg-9
          %h3 錄取時他還沒發瘋-上
      .panel-btn.clearfix
        %a.btn.btn-primary.btn-lg.pull-right(href="read.html") 完整閱讀
      .panel-body
        %p.preview
          :plain
            唐文宗時有位劉姓考生，中了狀元，立即向朝廷上萬言書，指責在朝權貴，獲罪下獄。朝中有大官質問考官，為何兒戲考政，錄取劉某這樣的瘋子。考官驚慌的解釋說：「錄取時，劉生尚未發瘋。」 為甚麼中了狀元，就變成瘋子呢？ 由於劉生之無懼，向皇帝提萬言書彈劾他們，因此得罪了把持朝政的權貴，顯然是一位急功好義，愛國愛民的人。一旦自己取得發言機會，就毫⋯


  .reading-box
    .panel.panel-default
      .panel-heading.fix
        .col-lg-3
          劉三講古
          .img-avatar
            %img(src="http://www.taiwanbible.com/web/bible/pastor2.jpg")
        .col-lg-9
          %h3 人生刮颱風，怎麼辦？
      .panel-btn.clearfix
        %a.btn.btn-primary.btn-lg.pull-right(href="read.html") 完整閱讀
      .panel-body
        %p.preview
          :plain
            昨天的颱風讓嘉義老家屋頂些微漏水，這是從未發生過的，幸好不嚴重！ 不過；這個警訊告訴我們屋頂需要維修，這也算颱風的貢獻，要不然誰吃飽閒著會去管屋頂？ 這讓人聯想到人生颱風亦如是！ 什麼是「人生颱風」？就是突如其來的風暴或是情緒。 昨天外頭刮颱風，身邊一位朋友婚姻也刮颱風，有小三介入。 颱風把果農辛苦一年的鶴崗文旦打落一地，這種⋯

  .reading-box
    .panel.panel-default
      .panel-heading.fix
        .col-lg-3
          黃牧師靈修
          .img-avatar
            %img.img-thumbnail(src="http://www.taiwanbible.com/web/bible/pastor4_1.jpg")
        .col-lg-9
          %h3  改變生命是家庭與社會幸福的根本（723-2014）
      .panel-btn.clearfix
        %a.btn.btn-primary.btn-lg.pull-right(href="read.html") 完整閱讀
      .panel-body
        %p.preview
          :plain
            本段經文的重點不在於要把燈放在燈台上，而是藉著燈的比喻說明掩藏的事一定會被顯露，從而回應上文撒種的比喻要作好土，把神的道聽進去。這是讀比喻的常識，要找出用這比喻的重點，不然就會得到許多與經文⋯

  .reading-box
    .panel.panel-default
      .panel-heading.fix
        .col-lg-3
          每日經歷神
          .img-avatar
            %img(src="http://www.taiwanbible.com/web/bible/dm0.jpg")
        .col-lg-9
          %h3 每日經歷神
      .panel-btn.clearfix
        %a.btn.btn-primary.btn-lg.pull-right(href="read.html") 完整閱讀
      .panel-body
        %p.preview
          :plain
            每日經歷神
            8月30日 箴言 第11天 經文：箴言八章1～36節 主題：無與倫比的智慧 分享： 智慧與無知愚蒙的對比，透過世界情慾的誘惑與試探表達出來；然而，智慧不僅僅幫助我們對抗邪惡，⋯
